[2020-12-07 20:23] TheFrenchGhosty opened #4 "tube.connect.cafe is miss-configured"
@vinyll you seems to be the maintainer, since you're the one who added the instance.

Something is broken on tube.connect.cafe, making *some* CSS not load (see the links color).

![screenshot](https://user-images.githubusercontent.com/47571719/101401052-af908c80-38c9-11eb-86c0-571398020fc2.png)

The browser console is reporting: "The resource from “https://tube.connect.cafe/” was blocked due to MI

[2020-12-07 20:42] vinyll commented on #4
Getting my hands dirty on this and keep it posted here.
Thanks ;)

[2020-12-07 21:06] vinyll commented on #4
@TheFrenchGhosty Following to the documentation to [update with master branch](https://github.com/iv-org/documentation/blob/master/Updating.md#with-master-branch) I can't get `./invidious -v` to display the current version, getting `0.20.1-cce6db4` instead.

Clearing out first:
[code]

Getting the latest version
[code]

Updating based on the doc:
[code]

Building and checking the version again:
[c

[2020-12-07 21:54] vinyll commented on #4
Nevermind, I removed my manual installation and switched to a Docker. #lazyme

It's now at version `Current version: 2020.12.07-68552b6 @ master`, don't you dare say that's outdated :p

My docker logs are trailing continuous lines such as:
[code]

It looks like trying to load data from Youtube, getting errors 500 and blocking my server.
Contents are empty on the interface.
I guess I need to wait f

[2020-12-07 22:22] TheFrenchGhosty commented on #4
@vinyll Your instance IP is blocked, you need to setup anti-captcha: https://github.com/iv-org/documentation/blob/master/How-to-setup-Anti-Captcha.md (or capmonster https://github.com/iv-org/invidious/issues/1256#issuecomment-739838048 but I don't think any public instance is running that (@unixfox is yewtu.be running it?))

[2020-12-08 07:15] unixfox commented on #4
If you start using capmonster please notify me because I'm interested to check if it works great due to the fact that it is cheaper and doesn't involve any human at all.

[2020-12-08 18:41] FireMasterK commented on #4
I'm going to start using it on `invidious.kavin.rocks`, BTC's taking a long time to confirm right now, I'll let you know how it goes once I set it up.

[2020-12-09 17:23] FireMasterK commented on #4
![Screenshot_20201209-225007_Bromite](https://user-images.githubusercontent.com/20838718/101663899-1f765280-3a43-11eb-9d41-4c348b88262d.png)
Seems to be working great but wow Invidious chugs captchas.

[2020-12-15 16:02] TheFrenchGhosty commented on #4
@vinyll Any news?

[2020-12-15 16:10] vinyll commented on #4
The site is up again and working with a recent release.
Search and play work just fine. Ex: https://tube.connect.cafe/search?q=inviduous

[2020-12-15 16:16] TheFrenchGhosty commented on #4
@vinyll The video pages still display "Could not extract video info. Instance is likely blocked." did you actually setup anti-captcha?

(by the way, it's outdated, again)

[2020-12-15 16:29] vinyll commented on #4
It says it's using `Current version: 2020.12.07-68552b6`, that's one week old, right?
I don't think I would update more often than monthly unless it would get to break or there is some good reason and tooling to automate.

Good to know you still see the "Could not extract video info. Instance is likely blocked.", I do get the home, search and video playing just fine and I hardly get feedbacks from

[2020-12-15 16:35] vinyll commented on #4
I guess I can reply to myself for the first part (in case anyone is interested as well):
https://github.com/tmiland/Invidious-Updater permits to update easily. It could probably be run automatically through a cron task. (checking for autoselecting an option for updating without a prompt)

[2020-12-15 17:52] vinyll commented on #4
Alright, I should be good by now:
- anti-captcha is setup through https://api.capmonster.cloud with credit purchased
- update is running daily through a cron job running **daily** a 5am UTC

https://tube.connect.cafe is running as expected on my side so let me know if you meet any issue.

[2020-12-15 18:47] TheFrenchGhosty commented on #4
@vinyll Great!

[2020-12-22 17:25] barkoder opened #5 "Request Subtitles/Closed Captions (CC) availability support for the hearing impaired"
I would appreciate an option to know if a video has closed captions available near the thumbnail(like on youtube) in the search results and the channel page.

Thanks.

[2020-12-22 17:27] barkoder commented on #5
Drat I opened the issue in the wrong place.

[2020-12-22 18:18] #5 closed

[2020-12-31 05:03] jksladjflkjsadflkjsadf opened #9 "How we we add our instance to uptime.invidio.us?"

[2020-12-31 14:12] TheFrenchGhosty commented on #9
Perflyst or me need to do it. Which instance is missing?

[2020-12-31 15:48] jksladjflkjsadflkjsadf commented on #9
https://invidious.048596.xyz/

[2020-12-31 16:34] TheFrenchGhosty commented on #9
Done!

[2020-12-31 16:34] #9 closed

[2021-01-08 12:55] #4 closed

[2021-01-11 00:39] cloudyytechie opened #13 "Dashvideo quality"
Hi when I use the dash video option is always buffers at 10 seconds on the video is there anything you could do to fix it ?

[2021-01-12 10:55] hackerncoder opened #14 "invidious.xyz is outdated."
invidious.xyz is running 0.20.1-99ba987 @ master, a commit from 26 of nov, 2020. It still has the "nil assertion failed" error when trying to access channels.

https://github.com/iv-org/invidious/commit/99ba9874b11bb0a5b67854d338ce968e83c69c41

[2021-01-13 13:19] #13 closed

[2021-01-14 07:44] meZee opened #15 "invidious.zee.li"
HTTPS & Cloudflare - https://invidious.zee.li

Tor - invidious.3o7z6yfxhbw7n3za4rss6l434kmv55cgw2vuziwuigpwegswvwzqipyd.onion

NYC, US Hosted

[2021-01-16 20:17] #14 closed

[2021-01-16 20:18] TheFrenchGhosty commented on #14
Thank you!

(By the way thanks for answering the issues in the main repo, really appreciate, I personally stopped doing it because it's too time consuming, and most duplicates are usually people who don't even check the first page)

[2021-01-16 20:22] TheFrenchGhosty commented on #15
Thank you, and good luck :)

[2021-01-17 03:56] meZee commented on #15
Thank you! Is there a particular reason the Tor address wasn't added, or was that an accidental omission?

[2021-01-17 13:28] TheFrenchGhosty commented on #15
Oops you're right I forgot! Will do later.

[2021-01-17 13:47] ytprivatecom opened #16 "ytprivate.com"
HTTPS with DDoS protection from DDoS-Guard.
Hosted in the US.

[2021-01-17 19:39] #15 closed

[2021-01-17 19:57] TheFrenchGhosty commented on #16
For everyone reading this, don't use the instance, obviously.

---

This is the third instance that's been caught running an unpublished modified source ( https://github.com/iv-org/invidious/issues?q=is%3Aissue+label%3A%22agpl+violation%22 ).

The change that I can see are:

- Modified service name

- Footer modified

- Donation address replaced with a different one

Note: this is what I could fin

[2021-01-18 01:49] ytprivatecom commented on #16
This was originally done under another GitHub account but I have moved the changes to this account now to reflect the changes I have made to the website: https://github.com/iv-org/invidious/compare/master...ytprivatecom:master

[2021-01-18 01:59] TheFrenchGhosty commented on #16
@ytprivatecom alright, can you please state the exact changes somewhere I can link people to? (Add something to the readme for example)

After that I'll add the instance to the list with a link to the modified code (and a link to the document explaining the change).

Thank you for not just taking the instance down... like the previous case.

[2021-01-18 02:13] ytprivatecom commented on #16
Here are the changes listed in the README: https://github.com/ytprivatecom/invidious/blob/master/README.md#source-changes

[2021-01-18 02:17] ytprivatecom commented on #16
Also, we do have a public status page to display if the website is online via GitHub: https://status.ytprivate.com/

[2021-01-18 02:23] TheFrenchGhosty commented on #16
@ytprivatecom alright thanks, I will add it tomorrow.

[2021-01-18 15:30] fadster opened #18 "1080p?"
Is there no way to set video quality higher than 720p? Adding "&quality=dash" to the URL doesn't seem to work.

[2021-01-18 16:28] #16 closed

[2021-01-18 16:54] #18 closed

[2021-01-18 16:57] fadster commented on #18
Thanks for updating the issue. An actual answer would've been helpful.

[2021-01-18 17:11] TheFrenchGhosty commented on #18
@fadster It's invalid because you are posting an invidious issue in the documentation repo. Issues here are only meant to report problem or ask addition to the documentation, nothing more.

To answer you: dash works for everyone, if the URL argument doesn't work set it in the settings.

[2021-01-18 17:16] fadster commented on #18
Noted, thank you. I tried to do it through the settings at first but the only options available to me are hd720, medium and small. I see there is a related open issue in the invidious project, I will try to find an answer there.

[2021-01-18 17:27] fadster commented on #18
Alright, I think I figured it out. I was using an outdated instance.

[2021-01-18 17:29] TheFrenchGhosty commented on #18
@fadster if dash isn't in the setting it means it was disabled by the owner.

[2021-01-18 17:50] fadster commented on #18
I see, thanks. On the instances where I have the dash option though, I keep getting this error in the console: "VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED)" Any idea what could be causing this?

[2021-01-19 10:33] ytprivatecom opened #20 "500 Error When Sorting By Version"
When sorting by version on: https://instances.invidio.us/?sort_by=health a 500 error is thrown.

[2021-01-19 17:39] TheFrenchGhosty commented on #20
Works for me.

[2021-01-19 17:40] #20 closed

[2021-01-20 07:59] ytprivatecom opened #21 "AUS Location Under YTPrivate Domain"
I'm not sure if having an AUS location now at https://au.ytprivate.com justifies another entry. Please let me know.

[2021-01-23 02:20] #21 closed

[2021-01-24 16:41] RouterCFW opened #22 "New instances"
Hello I found 2 new instances for invidious
https://www.pvcy.top/feed/popular
https://iteroni.com/feed/popular

[2021-01-24 17:43] TheFrenchGhosty commented on #22
Are they yours? If not, I won't add them. It's their owner decision to include to the instances list.

[2021-01-24 18:11] RouterCFW commented on #22
Oh they aren’t mine

[2021-01-24 18:11] #22 closed

[2021-01-24 18:30] TheFrenchGhosty commented on #22
No problem!

[2021-01-25 05:43] ytprivatecom commented on #21
Can the domain be added to the uptime page so the uptime isn't shown as (unknown)?

[2021-01-25 06:34] Perflyst commented on #21
Sure, done

[2021-01-31 20:50] TheShanMan opened #23 "Are live streams unsupported?"
I've tried a few youtube live streams and they all just get a spinner forever, but regular videos play fine, and I tried one of the live streams a while after it ended and it played fine too. So is playing live streams unsupported? If so, could you please document that limitation and ideally display an error to the user when they try to join a live stream?

Here are a couple warnings I see over an

[2021-02-03 19:14] #23 closed

[2021-02-03 21:23] TheShanMan commented on #23
@TheFrenchGhosty Could you at least answer the question of whether live streams are supported? I have no idea what marking this "invalid" means in terms of what I'm experiencing.

[2021-02-03 22:57] TheFrenchGhosty commented on #23
@TheShanMan This is the documentation repo. Not the invidious repo.

Livestreams works.

[2021-02-05 14:01] whew opened #25 "Uptime for onion instances?"
Would it be possible to also monitor the health of Invidious instances hosted on onions? For example right now two of them http://fz253lmuao3strwbfbmx46yu7acac2jz27iwtorgmbqlkurlclmancad.onion/ http://qklhadlycap4cnod.onion/ always give back 502 Bad Gateway. It'd be nice to know via the api which ones are usable, like the https instances.

[2021-02-05 22:25] B0pol opened #26 "Broken endpoint"
https://docs.invidious.io/en/Always-use-%22local%22-to-proxy-video-through-the-server-without-creating-an-account is broken

On GitHub: https://github.com/iv-org/documentation/blob/master/Always-use-%22local%22-to-proxy-video-through-the-server-without-creating-an-account.md

It is probably because of " "

[2021-02-05 22:27] B0pol opened #27 "Add noscript redirection"
Redirect or at least link to this GitHub repo on https://docs.invidious.io if JavaScript is disabled.

[2021-02-07 20:23] B0pol opened #30 "Update API specs"
It is outdated and some fields are missing, e.g. you can have `premiereTimestamp` in `/api/v1/search` endpoint, it's only specified in `/api/v1/videos/:videoId`

[2021-02-11 15:07] hackerncoder commented on #14
The time it takes can be shortened using [saved replies](https://docs.github.com/en/github/writing-on-github/about-saved-replies)

[2021-02-18 05:08] 765uyg opened #32 "Looks like you've found a bug in Invidious. (Maybe not)"
Looks like you've found a bug in Invidious. Please open a new issue on GitHub and include the following text in your message:
Title: `Unexpected char '<' at 1:1 (JSON::ParseException)`
Date: `2021-02-18T04:57:29Z`
Route: `/channel/UCgTxdmY7L0I5MKWrrf0Ejtg`
Version: `2021.01.31-26ce0eb @ (HEAD detached at 26ce0eb)`
<details>
<summary>Backtrace</summary>
<p>

[code]
</p>
</details>

[2021-02-18 05:37] #32 closed

[2021-02-21 02:22] TheFrenchGhosty opened #33 "Add a document explaining how to test IP block"
Someone had an issue and I needed them to test for IP block, however I had to look if someone ever send a quick one liner for it, and I found that.

https://github.com/iv-org/invidious/issues/811#issuecomment-539943148

https://github.com/iv-org/invidious/issues/811#issuecomment-540017772

We need a documentation page with it.

[2021-03-02 15:32] Incognify opened #35 "New instance(s)"
At your convenience, please consider adding these:

- Clearnet: https://tube.incog.host/

- Tor: http://tuberyps2pn6dor6h47brof3w2asmauahhk4ei42krugybzzzo55klad.onion/

- I2P: http://vipzc556nzjraiqsk5xwvyhz54fvtqt3vrepdarat3zsj4a6eypq.b32.i2p/ (or tube.i2p, though the B32 url will work for all)

- Yggdrasil Network: http://[200:46bf:ee17:939:f846:572f:72db:d4d]/

These are my own. No Cloudflare,

[2021-03-09 19:35] #35 closed

[2021-03-10 08:08] tinfoil-hat opened #37 "New Instance"
Clearnet:
- https://invidious.tinfoil-hat.net
hit me with a mail, if there's any problem

[2021-03-10 08:10] tinfoil-hat opened #38 "New Clearnet Instance"
- https://invidious.tinfoil-hat.net
hit me with a mail, if there's any problem

[2021-03-10 08:43] TheFrenchGhosty commented on #38
Location? Cloudflare?

[2021-03-10 18:00] #37 closed

[2021-03-18 18:27] tinfoil-hat commented on #38
Location is Germany, Cloudfare is not activated

[2021-03-19 13:07] #38 closed

[2021-03-25 04:26] Worldofmatthew opened #40 "New Invidious Instance"
Hello,

I have added an Invidious at; https://invidious.worldofmatthew.com/

Location: United Kingdom

Host: Oracle Cloud (No Cloudflare or any other CDN used)

Thank You

Matthew Morgan

[2021-03-26 01:59] eddsalkield commented on #30
Also it would be nice to distinguish between fields that are required, and those that are nullable.

[2021-03-26 19:28] syeopite opened #41 "[Question] What's the purpose of keeping unmaintained and broken instances on the documentation?"
I'm curious as to why Invidious is listing outdated and broken instances rather than removing them from the documentation altogether.

[2021-03-28 16:46] zer0-source opened #43 "Remove inv.skyn3t.in from unmaintained"
instance has been updated

[2021-04-01 02:22] jtagcat opened #46 "config vars incomplete"
https://github.com/iv-org/invidious/blob/master/src/invidious/helpers/helpers.cr has more

I thought of not porting them manually, and automatically turning the defaults, comments to docs. 2h later I'm going to stop.

Either link to 'find more vars there, but beware the top level keys are wrong and there's bunch of other things as well' or watch the file for changes, and update docs accordingly.

[2021-04-01 02:31] jtagcat commented on #46
Here's how far I got.
[code]

[2021-04-02 02:31] TheSilkky opened #47 "Add instance invidious.silkky.cloud."
https://invidious.silkky.cloud

The instance is hosted in Finland on a Hetzner dedicated server (AX41-NVMe). Vanilla invidious, no analytics or Cloudflare.

Mozilla Observatory:
https://observatory.mozilla.org/analyze/invidious.silkky.cloud

Config (docker): https://github.com/TheSilkky/invidious-silkkycloud/

If anything is wrong with my configuration please let me know.

[2021-04-02 15:35] TheFrenchGhosty commented on #47
I'll add it later, however do note that you can use the Invidious Quay image in the compose.

[2021-04-02 23:31] syeopite opened #48 "[AGPL Violation] flixify.com"
https://flixify.com/feed/popular
Seems like both the service name and footer has been modified. They also don't seem to disclose the source anywhere from what I can see.

[2021-04-04 07:22] TheSilkky commented on #47
thanks, I would prefer to use the quay image.

[2021-04-04 09:36] TheSilkky commented on #47
is there any documentation for the quay image?

[2021-04-04 09:48] TheFrenchGhosty commented on #47
No, not yet.

[2021-04-04 11:05] TheFrenchGhosty commented on #41
It's because usually the instances will be fixed. However yes, I'll surely end up removing them.

[2021-04-04 11:39] syeopite commented on #41
Ah thank you

[2021-04-04 11:39] #41 closed

[2021-04-04 18:43] TheSilkky commented on #47
Everything's working good with the quay image now. So my instance is ready.

[2021-04-08 16:03] TheFrenchGhosty commented on #47
Done in #51

[2021-04-08 16:03] #47 closed

[2021-04-14 11:00] Exonip opened #53 "Add instance invidious.exonip.de"
https://invidious.exonip.de/
Running on german server on a contabo (http://contabo.de/) vps.
Using docker (source not modified) and Nginx proxy and apache2 proxy
Not using any Web statistics

[2021-04-14 11:07] Exonip commented on #53
Google pagespeed result: https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Finvidious.exonip.de%2F&tab=desktop

ssllabs result: https://www.ssllabs.com/ssltest/analyze.html?d=invidious.exonip.de

Also using Comodo (free) running on Apache (ModSecurity 2.9) as Web Application Firewall

[2021-04-14 17:30] Gestas opened #54 "Add directions to export subscriptions from YouTube -"
Google recently removed the "Export Subscriptions" option from the bottom of the [Manage Subscriptions](https://www.youtube.com/feed/channels) page. This, combined with[ a bug in Google Takeout](https://support.google.com/youtube/thread/20414256?hl=en) means you must follow a very specific process to export your subscriptions. It would be helpful to add the process below to the Invidious documenta

[2021-04-16 20:56] jtagcat commented on #54
Please make a pull request.

[2021-04-19 20:49] TheFrenchGhosty commented on #43
Done: https://github.com/iv-org/documentation/commit/910d260dd74b69fb40f0720688f3bed731730b82

Please do not let the instance go more than 1 month without updating.

[2021-04-19 20:51] #43 closed

[2021-04-19 20:51] TheFrenchGhosty commented on #40
Hasn't been updated once since you opened this issue, are you sure you can maintain it?

[2021-04-19 21:18] #53 closed

[2021-04-26 04:14] dejalavidavolar opened #56 "New public instance"
Hi! I want to share my new public instance:

https://notyoutube.org

[2021-04-26 05:01] jtagcat commented on #56
Make a PR.

[2021-04-27 01:59] jtagcat commented on #56
Here's how to make an edit, and send a PR.

1. Open https://github.com/iv-org/documentation/blob/master/Invidious-Instances.md
1. Click ![the edit button](https://raw.githubusercontent.com/jtagcat/jtagcat/main/pl/gh-icons/bgw_edit.svg) near the top of the file.
1. Make your edit. Mind the context around your edit.
1. At the bottom there is a `Propose changes` section.
1. In the top box, enter a su

[2021-05-02 15:52] TheFrenchGhosty commented on #40
I will consider this instance unmaintained.

[2021-05-02 15:52] #40 closed

[2021-05-03 11:36] syeopite opened #61 "[AGPL Violation] inv.skyn3t.in"
This was discussed on Matrix awhile back.

Changes include:
* Rounded thumbnail in search results
* Hidden footer
* Different dark theme background color
* Centered title text on videos
and possibly more.

The instance also hasn't been updated since March 28th.

@zer0-source as it looks like you're the maintainer, could you disclose the source for your Instance?

[2021-05-10 04:11] artiblaster opened #63 "Uptime website is down"
I keep on hearing that an uptime website exists, but the link i found is not working.

[2021-05-13 09:40] syeopite commented on #61
Closed by c5a8516

[2021-05-13 09:40] #61 closed

[2021-05-13 10:25] syeopite commented on #25
Should be possible. To my knowledge the system with iv-org/invidious-api would have to run TOR with the onion requests being proxied through that. Code for that functionality needs to be implemented in iv-org/invidious-api though.

@TheFrenchGhosty Could you transfer this issue to iv-org/invidious-api? Thanks!

[2021-05-13 10:30] syeopite commented on #56
Closed by #58

[2021-05-13 10:30] #56 closed

[2021-05-13 10:34] TheFrenchGhosty commented on #25
@syeopite uptime is handled by uptimerobot though, so it's not really possible as long as uptimerobot doesn't support onion and/or we move to something else.

[2021-05-13 10:37] syeopite commented on #25
I was referring to the request for monitoring health which is handled through the Invidious API. I forgot about the title for a second.

[2021-05-13 10:43] syeopite commented on #25
Oh. I thought the health/uptime check is handled individually in each instance. Since this isn't possible I'll go ahead and close this issue.

[2021-05-13 10:43] #25 closed

[2021-05-20 17:39] comradekingu opened #67 "CC0 license doesn't work"
It is impossible to work together on CC0 material in a collaborative fashion with people from multiple jurisdictions, which effectively renders it null and void.

Willing to put effort into fixing it up and getting it translated if it gets a better license.

[2021-05-26 02:41] lolxbdm opened #72 "New Invidious Instance (05/23/2021)"
Hey,

I am hosting the invidious instance and will be making sure it is up almost 24/7 so for users wanting to get a invidious with best uptime you guys can watch it here. We have best ddos protection and almost 100% uptime with uptime robot. Come check us out!

Instance - https://invidious.criminal.sh/feed/trending
Uptime Robot - https://status.criminal.sh/

[2021-05-26 08:16] FireMasterK commented on #72
![image](https://user-images.githubusercontent.com/20838718/119626366-bfc10780-be28-11eb-9cf9-e432417e3182.png)
Please turn off Bot Management in cloudflare.

[2021-05-26 14:43] SamantazFox commented on #72
This is hardly "features". We provide those options to everyone. And cleaning the database with cronjobs is even recommended in the documentation :)

As @unixfox pointed out, any changes to the source code MUST be available.
We actively monitor instances for AGPL violations, so make sure to comply if you want to see your instance in the public listings!

[2021-05-26 15:13] lolxbdm commented on #72
The ddos protection is vshield using dns management from cloudflare.

[2021-05-26 15:14] lolxbdm commented on #72
Yeah, I know that but others as i seen that uses invidious changed it some is probably not on the instance either. I didn't change it fully and if i do i won't change to be on the instance.

[2021-05-26 15:16] lolxbdm commented on #72
I do not use cloudflare, I use vshield. Cloudflare is only for dns management only.

[2021-05-26 15:23] lolxbdm commented on #72
Oh, and if i used only cloudflare. I wouldn't have the uptime... If you checked you would of seen the uptime proof!

[2021-05-26 16:13] lolxbdm commented on #72
Hey,

Sorry for any inconveniences, If i do not qualify to be on the instances...

[2021-05-26 16:37] TheFrenchGhosty commented on #72
Any change to the source code requires respecting the AGPL.

[2021-05-26 17:01] lolxbdm commented on #72
Why so rude?

[2021-05-26 17:11] TheFrenchGhosty commented on #72
Because you just advertised something that violate the AGPL.

[2021-05-26 17:25] lolxbdm commented on #72
No, i didn't say it was best you putting words in my mouth. I said i would like to get on instances and for other users that want the features and for the admins to know what you include in it.

[2021-05-26 17:25] lolxbdm commented on #72
Way before this post i already did my research and i checked yall uptime on other instances and alot of them is down on uptime robot that why i said that.

[2021-05-26 17:33] FireMasterK commented on #72
Seriously though, your instance is going to go through the same treatment of downtime.

Any experienced attacker will know that Cloudflare's DDOS protection does nothing on a targeted attack.

[2021-05-26 17:34] FireMasterK commented on #72
And it's already down, what a surprise:
![image](https://user-images.githubusercontent.com/20838718/119705644-a2b32580-be76-11eb-9957-c16821b513e6.png)

[2021-05-26 17:34] lolxbdm commented on #72
I took it down.

[2021-05-26 17:38] lolxbdm commented on #72
Also it says bad gateway, Not connection timed out. If someone was using cloudflare only it won't even be up.

[2021-05-26 18:51] unixfox commented on #72
Yes you are using cloudflare, enter your domain here, and it will say that the proxy feature of cloudflare is enabled: https://checkforcloudflare.selesti.com.

I don't really know how vshield works but for sure the HTTPS connections on your domain (invidious.criminal.sh) are going through cloudflare servers. Even the A records of your domain are owned by Cloudflare. I took the A records here: http

[2021-05-26 19:00] lolxbdm commented on #72
Alright, You close this issue now.

[2021-05-26 19:03] hackerncoder commented on #72
Can't you close it yourself?

[2021-05-26 19:13] unixfox commented on #72
Why do you want to close this issue? We aren't restricting instances that are using cloudflare, even https://invidious.kavin.rocks is using cloudflare and there is just a disclaimer about that.

What I didn't like is to stipulate like a marketing speech that you did setup an anti ddos solution but it was just cloudflare. Also, on that note you don't need any anti ddos solution at all but what you

[2021-05-26 19:32] lolxbdm commented on #72
Yes, Alright know the other instances.

[2021-05-26 19:41] FireMasterK commented on #72
From what I can tell, the only thing preventing you from getting on the instance list is not publishing your modified source code (the reason being the AGPL violation otherwise).

[2021-05-26 19:42] lolxbdm commented on #72
Yeah, I know some modified others did and they are on it. As i said i know the other instances already. (ytprivate etc)

[2021-05-26 19:44] FireMasterK commented on #72
And they have published their sources like so: https://github.com/ytprivatecom/invidious

What prevents you from doing the same?

[2021-05-26 19:45] lolxbdm commented on #72
Yes, Alright know. I was going to do that once i got accepted.

[2021-05-26 19:46] lolxbdm commented on #72
Nothing preventing, You putting words in my mouth just stop.

[2021-05-26 19:48] hackerncoder commented on #72
You don't need to get accepted to do that.

[2021-05-26 19:48] lolxbdm commented on #72
Yes, i was waiting once i got accepted then i would of uploaded it.

[2021-05-26 19:48] lolxbdm commented on #72
Didn't give chance lol.

[2021-05-26 19:49] #72 closed

[2021-05-26 19:49] FireMasterK commented on #72
Had uploaded it, you would have likely got accepted...

[2021-05-26 19:52] syeopite commented on #72
^. All instances with a modified source code needs to have their codebase be public before we'll accept it into the official instance list

[2021-05-27 10:53] TheFrenchGhosty commented on #72
Exactly.

[2021-05-30 10:32] TheFrenchGhosty commented on #63
I just updated the DNS records: https://uptime.invidious.io/ should now redirect to https://stats.uptimerobot.com/89VnzSKAn

[2021-05-30 10:32] #63 closed

[2021-05-30 10:32] #48 closed

[2021-05-30 10:34] TheFrenchGhosty commented on #67
CC0 is public domain.

I don't see how it affects anything.

[2021-05-30 10:41] Perflyst commented on #63
My mistake? I added a redirect with https://github.com/iv-org/infrastructure/commit/14b5021174a8f9be6fac5cf8a4f5acddeb69b3d7 but apparently added new DNS entries for "docs" instead of "uptime".

[2021-05-30 19:31] comradekingu commented on #67
Not only does the idea of public domain differ between countries, it is also a regional manifestation without international support.
(As opposed to copyright.)
It is also impossible to put something in the public domain in some jurisdictions.
If you read the license, there is a provision for it, which means for the purpose of collaboration between people, it is nothing more than a copyright licens

[2021-06-02 13:22] smithfred opened #77 "Documentation requires JavaScript"
Ironically, given that one of the listed features of Invidious is "Javascript is 100% optional", https://docs.invidious.io/ **_requires_** JS to even show page content, in an egregious example of shitty, worst-practice web development on the part of Wiki.js :J

[2021-06-02 14:11] #77 closed

[2021-06-02 14:54] TheFrenchGhosty commented on #67
CC0 is good enough.

If a public domain license affects you wanting to work on something, don't work on it.

[2021-06-02 14:54] #67 closed

[2021-06-05 22:41] syeopite opened #78 "Proposal for automatic instance list maintenance"
Once either #74 or #76 is merged we should be able to automate instance list maintenance through github actions. Here's an idea of how this may work:

1.  Query instance API
2.  Scans each instance and
     - Validate version date to make sure it is less than thirty days away from iv-org/invidious's latest commit.
     - Validate health to be >= 90%
3.  If either check fails it is removed.
4.  Cre

[2021-06-07 17:36] HumanG33k opened #80 "Error during installation"
I follow instruction for debian.

[code]

[2021-06-07 21:43] hackerncoder commented on #80
You need to install an older version of crystal right now. See https://github.com/iv-org/invidious/issues/1933 for status on updating to crystal 1.0.

[2021-06-07 22:14] SamantazFox commented on #80
Ah, oops, yeah, I forgot to update debian instructions last time :x

[2021-06-08 13:01] smithfred commented on #77
Why not use something like Sphinx to generate static HTML from Markdown? It can be self-hosted, or auto-generated by and hosted on [Read the Docs](https://readthedocs.org/) or similar.

* [x] We want a documentation website that can pull it's content from a git repository
* [x] We want a documentation written in "standard" markdown.

What am I missing?

[2021-06-08 13:03] TROMsite opened #81 "Add our instance please"
This is our instance https://ytb.trom.tf/ - we update it very often and use anti-captcha.com. We test it daily with tens of videos.

[2021-06-08 13:35] TheFrenchGhosty commented on #77
The standard markdown isn't displayed this way, it's HTML generated from markdown, it's not great.

[2021-06-08 14:33] smithfred commented on #77
It's *always* going to be HTML generated from Markdown (unless you're doing something insane like drawing directly on a `<canvas>` element). You're either generating HTML server-side from the Markdown, or generating it client-side via JS.

Not great how?

[2021-06-08 16:53] TheFrenchGhosty commented on #77
We're generating HTML from the markdown and we're using those HTML files, we're not directly using the markdown files. This is what isn't great.

[2021-06-08 19:28] syeopite commented on #81
What country is the instance hosted in? Also, in order to be ready for the instance list rewrite could you enable statistics?

[2021-06-09 14:45] TROMsite commented on #81
Germany.

I did so now.

[2021-06-09 15:26] unixfox commented on #81
Your Invidious instance has modified files from the current source code, you should publish these.

[2021-06-09 15:29] TROMsite commented on #81
The only modified things are:

1. Removing the footer with the cryptocurrencies via `footer {display:none;}` .
2. And the config file where we may have enabled or disabled features. Should that be also published?

[2021-06-09 15:36] unixfox commented on #81
I'm sorry, but the home page doesn't look like the original Invidious home page.

@TheFrenchGhosty Could you explain to @TROMsite the AGPL license?

[2021-06-09 15:39] TROMsite commented on #81
This is a Yunohost default installation. The only thing I did was to remove the cryptocurrencies footer. That's all. How should a homepage look like?

[2021-06-09 15:44] unixfox commented on #81
It looks like any empty Invidious instance like this one: https://invidious.namazso.eu

[2021-06-09 15:47] TROMsite commented on #81
You example looks almost identical to our instance.
https://invidious.namazso.eu/ looks like:
![image](https://user-images.githubusercontent.com/38043315/121387023-a05acc00-c94a-11eb-94c4-097705a28c2d.png)

https://ytb.trom.tf/ looks like:
![image](https://user-images.githubusercontent.com/38043315/121387134-be283100-c94a-11eb-8042-37afa8b23216.png)

[2021-06-09 15:53] unixfox commented on #81
@TheFrenchGhosty knows better about the AGPL license than me, but IIRC **ANY** changes that differ from the original source code has to be disclosed. Even if it looks almost similar to the original source code.

[2021-06-09 15:55] TROMsite commented on #81
Ok. It should be noted that I am using a default Yunohost install so maybe it should be reported to Yunohost then.

[2021-06-09 16:20] unixfox commented on #81
Don't use Yunohost then, we have a very good documentation that explain how to run Invidious on Docker: https://docs.invidious.io/Installation.md
I'm sorry, but if you aren't capable of using Docker, then you aren't capable of maintaining a **public** Invidious instance. It takes some Linux administrator knowledge to maintain one, a **public** Invidious instance receive way more traffic than a **p

[2021-06-09 16:55] TROMsite commented on #81
To the contrary, we use this invidious instance daily for our projects and we update it several times a week, pulling via yunohost that works with this git version of invidious. Is up to you to include it in the official list or not. I thought to do some good and suggest our months old instance since we use it daily and are willing to even pay for anti-captcha.com to make sure it works. We test it

[2021-06-09 20:06] TROMsite commented on #81
Ok so the frontpage is the same then. In regards to changing anything, I only added the display:none for the footer in a CSS file. It isa  visual tweak. You mean even these need to be published? Seems kinda extreme to me, CSS is merely a way to tweak the design but not changing the source code of the software itself - like no functionality change.

[2021-06-09 20:35] syeopite commented on #81
Yes. All changes needs to be published with a clear list of what's changed. [See the ytprivate repo if you'd like an example.](https://github.com/ytprivatecom/invidious#source-changes)

[2021-06-09 20:56] TheFrenchGhosty commented on #81
Exactly, *any* changes, even minor needs to be properly explained, and released under the same license. We don't make any exception for AGPL violation, yes, even for one line.

[2021-06-09 21:52] TROMsite commented on #81
Never seen such extreme enforcement of these licenses before. I am very surprised. But ok, up to you. We have many instances of peertube, bibliogram, friendica and a lot more, and they even offer an easy way to add custom CSS to customize your instance as you'd like. Didn't expect the invidious team to be so extreme for just removing the footer with CSS. In any case I removed that line. So is our

[2021-06-10 14:30] TheFrenchGhosty commented on #81
Because it's not the first time: https://github.com/iv-org/documentation/issues?q=is%3Aissue+label%3A%22agpl+violation

[2021-06-10 14:30] SamantazFox commented on #81
@TROMsite yes, now it's perfect :)

[2021-06-10 14:41] TROMsite commented on #81
Ok that's good so then I'll keep it this way. I removed the footer because I wasn't sure what's with all of the crypto addresses I was worried about that.

[2021-06-10 14:45] SamantazFox commented on #81
The crypto addresses are the different wallets for the invidious project. We plan to remove that one day and host the donate page at invidious.io.

[2021-06-10 14:47] TROMsite commented on #81
Yes I was thinking that's their role, I was just very confused. I thought they may be misleading/inaccurate. I highly suggest that you add a donate button for invidious instead of all of those crypto addresses.

[2021-06-10 15:09] SamantazFox commented on #81
Yep, this is planned: https://github.com/iv-org/invidious/issues/2032

[2021-06-10 15:25] SamantazFox commented on #80
@HumanG33k now invidious supports Crystal v1.0.0! You can try again :)

[2021-06-10 18:59] smithfred commented on #77
The Markdown files are not being used directly either way. Web browser do not have built-in Markdown renderers. WikiJS is just client-side rendering from Markdown to HTML every single time, on everyone's machine individually, instead of once on a server when something changes in the relevant repo. It's an incredibly inefficient and pointless exercise, reinventing a worse wheel than the original (s

[2021-06-10 19:06] #81 closed

[2021-06-11 22:27] HumanG33k commented on #80
Ok probably need to add a section in readme.

In order to not have
[code]
i did a

[code]

I will edit after command end.

[2021-06-13 16:02] SamantazFox commented on #80
Fixed in #84 and #85

[2021-06-13 16:02] #80 closed

[2021-06-18 21:16] Showfom opened #90 "New Invidious Instance"
Hi,

I've set a new Invidious instance, and would like to join public instances list

## URL

https://y.com.cm/

## Location

server is located in Germany with Cloudflare enabled

[2021-06-19 04:49] #90 closed

[2021-06-25 13:28] unixfox opened #93 "Generate the documentation statically"
We should use a static page generator instead of WikiJS for the documentation, it's much more stable and can be hosted on GitHub pages.

Candidates:
- Jekyll
- Hugo
- MkDocs
- Hexo
- Something else?

[2021-06-29 12:43] OrnithOrtion opened #96 "New invidious instance: https://invidious.s1gm4.eu (S1GM4 CHATONS)"
For S1GM4 CHATONS, we have installed an instance of Invidious.

We have not done any software modification, and if we will, it will be added to our gitea forge: https://forge.s1gm4.eu

You can found this instance here: [https://invidious.s1gm4.eu](https://invidious.s1gm4.eu)

[2021-06-29 16:41] syeopite commented on #96
Hi, thanks for hosting a public instance! Before we can add it onto the official list we'll need to know where the instance is hosted at and if it uses any services like Cloudflare.

Also, in preparation for the instance list rewrite (See #74 or #76), could you please enable statistics?

Thank you!

[2021-06-29 17:06] OrnithOrtion commented on #96
I have updated instances.yml, but I do not know how I can send this modified version.

Here is an extract in https section:
[code]

[2021-06-29 17:09] syeopite commented on #96
Ah you don't have to do that! We just need to you enable statistics in Invidious's `config.yml` for now. [Please refer to the documentation for instructions.](https://github.com/iv-org/documentation/blob/master/Configuration.md) Thanks for the instance information there though, I'll go ahead and add your instance to the list.

[2021-06-29 17:12] syeopite commented on #96
Done in 45ccefb685f9ca8dc4f3421ada16bae4d9dcc463

[2021-06-29 17:12] #96 closed

[2021-07-08 13:06] leofiore opened #101 "[Bug] no instances list can be found at the official url"
https://docs.invidious.io/Invidious-Instances.md or https://instances.invidious.io , which are the urls provided in this repository, returns a 404 error.

https://api.invidious.io/ and https://instances.invidio.us are the correct one, and they should probably be in the description of this repository and in the README.md  .

[2021-07-08 13:33] unixfox commented on #101
@TheFrenchGhosty the wiki is down again

[2021-07-08 13:34] unixfox commented on #101
Meanwhile you can get the list here: https://github.com/iv-org/documentation/blob/master/Invidious-Instances.md

[2021-07-08 20:13] TheFrenchGhosty commented on #101
Fixed.

Until next time.

[2021-07-08 20:13] #101 closed

[2021-07-14 02:09] hys0star opened #103 "New Instance"
WWW:
https://invidious.hub.ne.kr
TOR:
vrg2a4cdxlngik5fkx6hbkslmd6yybsnot5bcegx6cfc7xja2t4r4zqd.onion

This is a new instance in Singapore.
Use https and no tracker or Cloudflare.

Thanks!

[2021-07-14 09:15] syeopite commented on #103
Hi, thanks for hosting a public instance! Everything looks fine so I'll go ahead and append it to the instance list.

But, in preparation for the instance list rewrite (See #74 or #76), could you please enable statistics? [Instructions are on the documentation.](https://github.com/iv-org/documentation/blob/master/Configuration.md)

Thank you!

[2021-07-14 09:18] #103 closed

[2021-07-16 18:34] #46 closed

[2021-07-18 10:40] syeopite opened #107 "[Enhancement] Add crystal version requirement to installation guide"

[2021-07-18 12:00] SamantazFox commented on #107
technically, it's already in here: https://github.com/iv-org/documentation/blob/master/Installation.md#install-crystal

[2021-08-06 22:43] MrBrastavaya opened #118 "Age restricted videos don't work"

[2021-08-06 22:56] syeopite commented on #118
Please don't post the same thing on multiple iv-org repos. It's not going to make us fix the problem faster.

[2021-08-06 22:56] #118 closed

[2021-08-09 13:16] TechnicalSuwako opened #119 "New Instance"
Please add → https://youtube.076.ne.jp
Sarver rocation: japan

[2021-08-09 16:38] syeopite commented on #119
That... Is a **major** AGPL violation. The AGPL licence requires all distribution (network included) to disclose their source code and clearly state changes.

Until you provide those information, I'm afraid we can't add your instance onto the official list.

[2021-08-09 22:26] TechnicalSuwako commented on #119
@syeopite
https://git.076.ne.jp/TechnicalSuwako/invidious-mod/-/commit/a87e94b9816ff15688706a957de1a19e45538fe6

[2021-08-10 01:23] SamantazFox commented on #119
Just for your information: most of the changes you made to the source code may (and are going to) break invidious. I won't detail here why, but be aware that, in general, the `gl` parameter (geographic region) can be changed but not the `hl` (locale/language), as it influences the text data returned by youtube, which is heavily used by our parser (i.e, the parser matches `x views` to get a viewcou

[2021-08-10 01:50] TechnicalSuwako commented on #119
I'll change it.
https://git.076.ne.jp/TechnicalSuwako/invidious-mod/-/commit/f8d4820740b15a32904a5d117296e8e4c5b946f1
Please check it out.

[2021-08-10 02:20] SamantazFox commented on #119
@TechnicalSuwako Yeah, that's much better :)

Btw, for the default locale, don't modify the source code directly. Instead use the config option for that matter:
https://git.076.ne.jp/TechnicalSuwako/invidious-mod/-/commit/f8d4820740b15a32904a5d117296e8e4c5b946f1#59c4f02b4ed5c42144db4086446aa59b37f4674b_41_39

This is documented in the example config file:
https://github.com/iv-org/invidious/blob/m

[2021-08-10 02:25] SamantazFox commented on #119
Also, please enable statistics! https://youtube.076.ne.jp/api/v1/stats

[2021-08-10 02:49] TechnicalSuwako commented on #119
I've changed it.

[2021-08-10 13:08] SamantazFox opened #122 "invidious.exonip.de is outdated"
@Exonip please update!

If this isn't done by Friday 13th, we'll have to remove your instance from the public list.

[2021-08-10 13:11] Exonip commented on #122
There was already pull request #120 about that and I’ll update the instance when I get back home

[2021-08-11 11:08] SamantazFox commented on #122
Oh, my bad, didn't see it!

[2021-08-11 11:08] #122 closed

[2021-08-11 11:50] #119 closed

[2021-08-16 15:23] syeopite commented on #93
If we decide to use Mkdocs, it looks like the `mkdocs-material` theme is the standard for the Crystal ecosystem.

[2021-08-21 04:26] spiderbit opened #127 "Example for authentification"
Let's say I have a account and want the Feed or my subscriptions, what would I have to do, using curl?

There is 1 default Token that comes with the installation do I use that to directly get the feed or do you I create a new token with that token as authentication?

I just understand or can make it work, I am no oauth expert I assume it's based ot that right?

[2021-08-21 07:43] unixfox commented on #127
Probably a duplicate of https://github.com/iv-org/invidious/issues/473

[2021-08-21 11:04] spiderbit commented on #127
@unixfox I don't think so, I just want a example and if you want to see it as bug for the documentation adding a curl example to the docu would probably not hurt.

The linked bug don't ask for code example or something alike, it was more the request to have a api, I want a easy quickstart guide for it basically. Sure you could maybe learn from the bug how things are supposed to work which post / g

[2021-08-21 11:45] unixfox commented on #127
https://github.com/iv-org/invidious/issues/473 is about implementing a way to fetch subscriptions using a token for example, exactly what you are asking.

If this feature doesn't exist yet, we can't provide you a documentation in order to use it.

[2021-08-21 11:52] syeopite commented on #127
We do have documentation for authenticated endpoints! https://github.com/iv-org/documentation/blob/master/Authenticated-Endpoints.md#get-apiv1authsubscriptions

[2021-08-21 18:02] spiderbit commented on #127
Yes but a api if you don't understand even which steps in which order you have to take is not enough. Example code is often very helpful. I am sure that if you have written 5-10 clients for OAuth (which it does not even officially refer to, but seems to be what it is?) this API doku is sure enough to implement it. But if you never done it, then this API dokumentation is very confusing.

If you thi

[2021-08-24 16:52] AndrewKvalheim opened #130 "Link to instances.invidious.io/Invidious-Instances.md returns 404"
*\<!-- Please use the search function to check if the bug you found has already been reported by someone else --\>*

Okay, found it: iv-org/invidious#2139

**Describe the bug**

**Logs**

**Screenshots**

**Additional context**

Continuing discussion in the existing issue is prohibited. (???)

[2021-08-24 17:19] unixfox commented on #130
@TheFrenchGhosty

[2021-08-24 17:20] TheFrenchGhosty commented on #130
Again?!..

[2021-08-24 17:24] #130 closed

[2021-08-25 15:29] SamantazFox opened #131 "ytprivate.com expiry notice"
@ytprivatecom your instance will be outdated in 2 days! Please update!

[2021-08-27 05:46] #131 closed, assigned to nobody

[2021-09-01 22:51] skaunov opened #140 "lack of documentation on account creating and benefits"
Hello!

Couldn't find any info on what kind of account should I choose to be able to add comments and if that possibility is present at all. Tried to log in with G-account using *app password* but it failed. And I have strong habit not to put initial G-pass outside of their products.

Would be very helpful to have a page on accounts in wiki. Could people who already use it write one?

[2021-09-04 20:04] TheFrenchGhosty opened #199 "Figure out how to handle the documentation"
We need to add the documentation to this, from what I can see we'll have to deprecate the current repository and just move everything about the documentation here.

I'll try to see if we can use the current repo as a submodule but I don't think it's possible since I think more is needed that just the markdown files.

Need more testings.

[2021-09-13 20:42] syeopite opened #142 "[New instance] Test instance. Sorry for the spam!"
### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Man in the Middle

Example service

### Source code URL

example.com

### Analytics

- [ ] They are GDPR/CC

[2021-09-13 20:43] #142 closed

[2021-09-15 17:13] artemislena opened #143 "[New instance] yt.artemislena.eu"
### URL

https://yt.artemislena.eu

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Man in the Middle

_No response_

### Source code URL

_No response_

#

[2021-09-15 18:17] syeopite commented on #143
Oops, looks like we forgot to include an important question on the template. What country is the instance hosted in?

[2021-09-16 07:29] unixfox commented on #143
The instance seems to be hosted in Germany, at least that's what I got from https://www.iplocation.net/ip-lookup

[2021-09-16 08:19] artemislena commented on #143
True. It's in Germany.

[2021-09-16 08:47] #143 closed

[2021-09-16 09:11] SamantazFox commented on #143
Ah, yeah, wanted to fix that today, but you beat me to it x)

[2021-09-29 02:17] leethax666 opened #147 "Youtube exporting subscription list as CSV not JSON"
I don't see an obvious way to change it and it doesn't import correctly

[2021-09-29 02:42] syeopite commented on #147
Yep, we're aware :) Please see iv-org/invidious#2319

[2021-09-29 02:42] #147 closed

[2021-10-02 18:03] TheFrenchGhosty opened #148 "Instances not respecting the new rules"
This is an issue meant to keep track of instances currently in the instances list that aren't respecting the new rules: https://github.com/iv-org/documentation/blob/master/Invidious-Instances.md#rules-to-have-your-instance-in-this-list

https://yewtu.be/ : Rule 11 @unixfox

https://ytb.trom.tf : Rule 3, 11 @tio-trom

Instances have until the end of the month to fix this issue, otherwise they will

[2021-10-02 18:10] unixfox commented on #148
ytb.trom.tf source code is already listed in https://github.com/iv-org/documentation/blob/master/Invidious-Instances.md#list-of-public-invidious-instances-sorted-from-oldest-to-newest

Is that enough?

[2021-10-02 18:11] TheFrenchGhosty commented on #148
@unixfox

It's currently not respecting this point: "MUST contain a link to both the modified and original source code of Invidious, ideally in the footer.", it doesn't link to the modified source code in the instance itself.

[2021-10-02 18:19] tio-trom commented on #148
Ok will do that this month.

[2021-10-02 18:24] unixfox commented on #148
The current Invidious code doesn't allow for an easy and properly way to add the source code in the footer. I don't think it's a good idea to enforce this rule, we should wait until we implement a system that allow to specify a link to the source code.

For instance Searx allow specifying the URL to the source code with just an environment variable, this will change the URL of the "Source code" li

[2021-10-02 18:25] tio-trom commented on #148
Very good point @unifox !

[2021-10-02 18:26] TheFrenchGhosty commented on #148
If an instance owner can modify the code to add what they want, they can modify the code to link to their changes. If they can't, well, they can just run master.

We should add a way for instances owners to add a link in an easier way, but currently, it's good enough.

[2021-10-02 18:37] unixfox commented on #148
I don't think you ever maintained patches, if a part of the original code that a patch uses change then the patch is broken, and it requires a manual intervention.

Each patch that I wrote is specially crafted in order to touch as less current code as possible, and thus I hardly ever need to fix any patch. Adding a link to the footer is asking for manual intervention every time the footer code get

[2021-10-02 18:40] TheFrenchGhosty commented on #148
The footer is *rarely* updated.

Also, I mean, I'm sorry to say that, and I hope you don't take it the wrong way: but it's not really our problem, instances owner are responsible for their instances, and as I said: "If they can't [maintain their changes], well, they can just run master."

[2021-10-02 20:05] unixfox commented on #148
It's not really my problem either to add a source code link when it's already stipulated in the instances list :).

I'm perfectly capable of maintaining any changes that I deliberately made the choice to add, but what I don't want is to frequently spend time on things that I didn't make the choice to change. I'm fine with adding once things that I didn't initially want to change, but I don't want

[2021-10-02 20:35] TheFrenchGhosty commented on #148
Well it is if you want your instance to be in the instances list.

We'll then have to remove your instance from the instances list, we won't make exceptions, even if you are in the Invidious team.

[2021-10-03 06:52] unixfox commented on #148
Legally an instance that publish its source code somewhere easily accessible from the public is already compliant with AGPL (cf. the instance list markdown file). Adding that to the footer of the instance is just a bonus.

That's fine and I would then leave the project altogether because it wouldn't meet my main criteria anymore of why I work on open source projects.
I started working on open sour

[2021-10-03 08:33] syeopite commented on #148
Once this is not the case anymore I just move on

I'm sorry, but doesn't this mean Invidious has never meet your criteria? We've never allowed you to do "whatever my imagination want me to do", the instance list always had rules pertaining to analytics and MITM/DDoS protection. Not to mention the AGPL restricting it further with source code removal.

I really don't see the point of this argument h

[2021-10-03 10:20] SamantazFox opened #149 "[Discussion] New instances rules"
I'd like to (re)open discussion regarding the new instances rules that were added in fd84d13b855934035b7b5ccb457c692007f11b32. I know that those have already been discussed a bit in #74 & #76, but I'd like to collect the thoughs of the (currently in the list) instance owner themselves on that matter.

I'm myself, quite against any kind of tracking and advertisement (1) in the official list. In my

[2021-10-03 10:23] SamantazFox commented on #149
PS: while we won't come back on some rules, like the mandatory publication of the source code, because of AGPL license, I want to have your thoughs on ads/tracking, and if you encounter(ed) any difficulties with the previous or current rules.

[2021-10-03 10:39] TheFrenchGhosty commented on #148
I completely agree with @syeopite

Currently yewtube is breaking this. I haven't removed from the instance list before because it's your ( @unixfox ) instance, but it has been in violation of the AGPL for months.

We already made an exception for it for months, I asked you ( @unixfox ) multiples times to fix this, those rules have been almost all written months ago too. Enforcing them was obviousl

[2021-10-03 10:41] 11Tuvork28 commented on #149
I think it is paradox to put any sort of tracking/ads/analytics in any instance because I personally use Invidious just to escape youtube tracking.
Therefore I think its not a good idea to put tracking/ads/analytics in but to be clear I also don't see banners like you mentioned not as ads.

[2021-10-03 10:45] namazso commented on #149
Tracking should clearly be disallowed since it's against what Invidious stands for.
As for ads, I think they aren't a problem as long as it comes with no tracking (but maybe should be restricted to banner). If ad funds are used to run the instance, is that sponsoring or no? I don't think we want to be the one to decide.

[2021-10-03 11:01] SamantazFox commented on #149
@11Tuvork28 Mhh, yeah. Thanks for your input :)

I'd say no. Sponsoring is when a specific company or other organization provides ressources (hardware or monetary) for an instance to run. Similar to what is done with some IRC networks (libera.chat, e.g)

The idea is for us to gather the opinions of everyone. we'll then see if anything has to be changed, e.g if some rules (like uptime) are too stri

[2021-10-03 11:46] SamantazFox commented on #93
I'm posting here the message I wrote on matrix. The idea is to switch out from Markdown, because it's hardly standard an not suited for proper documentation. In all the options we have (RST, Dita, Docbook, AsciiDoc, (La)Tex), RST is the easiest to use and the most flexible.

[2021-10-03 12:08] ItsSt0ne commented on #149
These rules don't really have any effect on my particular instance, so I'm fine with them, and agree with the sentiment of having the instance list curating to the extent of having a baseline for privacy, maintenance, and reliability.
One rule that seems to be vague or otherwise not very helpful to these ends is the requirement to list anti-bot protection. If the goal is to protect privacy, I don'

[2021-10-03 12:34] tirz commented on #148
I completely agreed with @unixfox.

He did not say he wanted to hide the fact that his source code is modified, he just said that it is currently hard to share the link of the modified project.
Even if we can do better, having it wrote in the public instance list in already clear.
But if Invidious asks for the developer to also put the link in the footer... Then Invidious must provide a way to add

[2021-10-03 13:17] TheFrenchGhosty commented on #148
@tirz

Yes, this is something that will be done soon, however for now source modification is needed.

It's a move to remove all forks that don't respect the AGPL.

/api/v1/stats contain a really small amount of details, see for example snopyta's instance: https://invidious.snopyta.org/api/v1/stats it doesn't requires anything other than to be enabled.

Can we add an exception to the .onion ?

Sinc

[2021-10-03 13:30] tio-trom commented on #149
I think it is a big irony to have something like invidious that is meant to get rid of ads and trackers and make youtube user friendly, to then have invidious instances add ads and trackers. I mean probably they should be allow to do anything they want with their instances, but for the official invidious list would not be a good idea to let such instances on the list. I want to escape youtube's ad

[2021-10-03 13:34] tio-trom commented on #149
One last point, I think is unfair to remove the ads from my youtube videos via invidious, to then advertise your stuff while people watch my videos. Even "sponsored by" at the top of the page when people come across my youtube videos, I think you are using my content to make a profit, be it monetary or get free hosting or whatever. This may be a great reason for youtube to say that invidious is pr

[2021-10-03 14:22] tio-trom commented on #148
I'd like that you guys and girls don't forget that, very likely, the ones behind invidious instances are doing it in their free time and to help clean the internet a bit. Probably all of our intentions are good. So try not to make it too difficult for us to maintain these instances in order to get them on the official list, else you will lose many of us.

Reading through the list of requirements i

[2021-10-03 15:41] mintphin commented on #149
No problem! While a lot of people use Invidious to escape Google's intrusive advertisement, such a rule could ensure people don't take advantage of a possible loophole.

[2021-10-03 15:53] hys0star commented on #149
Instances shown in the list must be safe.
However, using a tracker and Clownflare is not safe to look at.
It is not a problem to use trackers and Clownflare for Invidious. But I don't think these instances should be listed.
If you have to use trackers and Clownflare, I don't think you should disclose your instances to the list at all.

[2021-10-03 15:58] hys0star commented on #149
It would be a good idea to display instances using trackers or Clownflare separately.

[2021-10-03 16:06] mintphin commented on #149
Agreed! I forgot Clownflare included trackers. Guess having people die under their business is not their only mistake.

[2021-10-03 16:25] SamantazFox commented on #149
So, something like 2 or 3 lists would be a good idea:
* the official one, 100% curated from tracker/ads/MitM
* the medium-quality list, where we put probatory and outdated, but otherwise clean, instances
* the low quality list, which contains trackers/ads or use CF/MitM

[2021-10-03 16:29] TheFrenchGhosty commented on #149
@ItsSt0ne

Most antibot protection use cookies or JavaScript, so that way it's clear where those come from.

[2021-10-03 17:48] SamantazFox commented on #148
Yep, I'm working on that, so you'll just have to put the URL in your config and not think about it :)

the API has always been enforced, but it was never clearly marked. The content of the statistics is (currently) limited to the registered users count.

In the future, I'd like to have server side stats so we can know, without tracking the users, how many times an endpoint is acessed and how often

[2021-10-03 17:52] SamantazFox commented on #148
yeah, we are aware. That's why I opened #149, in order to discuss the rules with you, the maintainers. I've seen that there has been quite a lot of friction over that rules rewrite...

[2021-10-03 18:17] ItsSt0ne commented on #149
Do agree with disclosing this, though it was brought up in #148 that there are many methods that don't affect end users.
I think it's redundant, given that those changes should fall under either AGPL or rules 9/10, and people should just feel free to disclose what their changes are and how they impact end users (such as trom.tf referencing modifying CSS).

[2021-10-03 19:29] FireMasterK commented on #149
The first rule:

Seems absolutely pointless to me... I don't understand the reasoning behind this, and I only see this as a waste of hosting costs, which can be quite expensive at some geolocations.

I've also whitelisted `/api/v1/stats` for all IPs on my instances to further comply with the new rules.

[2021-10-03 19:38] TheFrenchGhosty commented on #149
We keep adding new instances that go unmaintained after a months and never get updated. We basically want instances to updated and to be kept updated for at least a month before we add them to the list.

[2021-10-03 19:44] SamantazFox commented on #149
We don't want user to be directed to an instance, they create an account, and loose everything because the instance is never maintained afterwards. This is not the best experience of invidious

[2021-10-03 19:50] ItsSt0ne commented on #149
Might be better to implement some sort of trial period for instances in that case. It's a lot easier to run an instance for less than ten people than it is to have one open and visible to the public. Not sure on the implementation, but I think being able to run a very small instance for a month is not much an indicator of being able and willing to run it long-term.

[2021-10-03 20:37] RiversideRocks commented on #149
After thinking it over I think that any sort of analytics should be forbidden.

As for making multiple lists, that just looks like it will confuse end users more. Why not just remove instances that use trackers?

[2021-10-08 16:10] Midou36O opened #153 "[New instance] Mutavidious"
### URL

https://invidious.mutahar.rocks

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

France

### Man in the Middle

_No response_

### S

[2021-10-08 16:52] unixfox commented on #153
You could:
- Deny access to the non-essential API endpoints that the frontend of invidious doesn't use.
- Rate limit the often abused API endpoints.

[2021-10-09 11:06] Exonip commented on #153
This is not always the case as there are different protection modes and not all of them require javascript. There is a mode that only checks for cookies for example or a simple text captcha.

[2021-10-09 14:50] SamantazFox commented on #153
Given that we have implemented automatic instance redirects, it's our goal to provide an annoyance-free experience as possible. I don't think that a user that is on a particular instance would like to land on an instance that will ban them because they don't accept cookies, or that will be behind CF, or anything else that would require them to go back and wish that they're redirected to a nicer in

[2021-10-09 16:58] syeopite commented on #149
As everyone said already, this is confusing. it's just better to have a single list. Though this could work with some implementation differences. Basically, there should only be one official list, with all of the restrictions we've _agreed_ upon here. However, there should also be a standardized way to record instances and their respective attributes down for an instance list, something like what

[2021-10-11 16:40] syeopite commented on #54
Yep that's a recent YouTube change unfortunately

[2021-10-18 12:50] SamantazFox commented on #149
Mmmh, yeah. So one list, with strong filters by default, but where we could register other "lower-privacy" instances, right?

[2021-10-26 12:12] cysea opened #156 "[New instance] inv.cthd.icu"
### URL

https://inv.cthd.icu

### Mandatory checks

- [x] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

Serbia

### Man in the Middle

_No response_

### Source code

[2021-10-29 17:40] SamantazFox opened #158 "Reformat rules list"
Make rules list less looking like a wall of text.

From: https://github.com/iv-org/documentation/pull/151#pullrequestreview-778996679

[2021-10-30 09:55] johnfocker opened #159 "YouTube subscriptions are in CSV instead of JSON"
When following instructions to export YouTube subscriptions here:
[Export-YouTube-subscriptions.md](https://github.com/iv-org/documentation/blob/master/Export-YouTube-subscriptions.md)

I end up with a `subscriptions.csv` file that the instance I'm using can't seem to parse.

Instance is on `Current version: 2021.10.26-6a15b0b @ master`

[2021-10-30 18:53] unixfox commented on #159
Duplicate of https://github.com/iv-org/invidious/issues/2319

[2021-10-30 18:53] #159 closed

[2021-11-04 21:18] syeopite commented on #148
Apologies for the late reply everyone

@ytprivatecom

Oh, hope you're feeling better now! But friendly reminder, it looks like your certificate has expired. Once you renew it, I'd go ahead and give your instance a proper re-review.

@didw-to

Thanks! Added it back onto the list. Please make sure your instance isn't outdated again.

[2021-11-13 01:03] SamantazFox opened #163 "Add new questions to FAQ"
Notes to self.

Add answers to those questions to the FAQ:
 - https://github.com/iv-org/invidious/issues/2521
 - https://github.com/iv-org/invidious/issues/2515 / https://github.com/iv-org/invidious/issues/944 / federation and such
 - https://github.com/iv-org/invidious/issues/2499 (maybe?)
 - Why proxying is required for DASH (=> CORS headers) or some music videos (=> IP restriction)

[2021-11-16 10:34] TheFrenchGhosty commented on #153
@Midou36O Any news?

[2021-11-16 11:28] SamantazFox commented on #153
It's all good now. They sent a message in The matrix room saying that they fixed it.
You'll notice that I remove the "blocked" tag 10 days ago :)

[2021-11-17 18:19] #156 closed

[2021-11-17 22:12] unixfox opened #166 "Document how to use podman with the invidious docker image"
Podman may fail to build the docker image if the docker hub registry is not set as a default registry, like on Debian. As a note, on RedHat based distributions podman offers to use docker.io.

We should document how to build the invidious docker image with podman.

[2021-11-17 22:28] TheFrenchGhosty opened #167 "DMCA letter template for EU"
See: https://github.com/iv-org/documentation/pull/165

[2021-11-20 13:39] #153 closed

[2021-11-26 19:02] TheFrenchGhosty opened #172 "[Meta] Should we remove the MacOS installation steps"
Follow up to: https://github.com/iv-org/documentation/pull/160

I haven't heard of anyone ever using the MacOS installation steps, they have never been tested by anyone, and from what I know, no one in the team has access to an updated MacOS device.

In my opinion we should just remove the installation steps, and consider it as unsupported.

[2021-11-26 19:20] unixfox commented on #172
I've used the same macos commands on my macbook m1 and it worked fine.

[2021-11-26 19:21] TheFrenchGhosty commented on #172
@unixfox That's good to know, I guess we should keep them then? (maybe move them to another file?)

[2021-11-26 19:24] unixfox commented on #172
We can keep them and for moving them to another file, idk.

[2021-11-28 20:25] SamantazFox commented on #172
If they work, no touchie!

[2021-12-08 20:53] #167 closed

[2021-12-13 17:08] TheFrenchGhosty commented on #148
@ytprivatecom We haven't had any news from you in more than 2 months, and your certificate is still outdated... I hope you're okay...

@tio-trom Any news?

@didw-to Your instance hasn't been updated since your last message on October 26... please keep it updated.

[2021-12-13 17:09] TheFrenchGhosty commented on #148
Now respects all the rules, thank you!

Since all other instances now respects the rules, I am closing this issue.

[2021-12-13 17:09] #148 closed

[2021-12-13 17:24] tio-trom commented on #148
Sorry. We are too busy to do it all by-the-book and add all of the changes to the footer and all that. Plus, we still cannot make our instance work well. It crashes many times every day and needs manual rebooting....so better not have it on the list.

[2021-12-13 17:33] TheFrenchGhosty commented on #148
@tio-trom Other than making the footer visible, we added a config option to link to your modified source, so it should be easy.

That's all invidious instances, restart hourly and it will work perfectly.

If you need help with anything, feel free to ask

[2021-12-13 17:33] TheFrenchGhosty commented on #148
@tio-trom Other than making the footer visible, we added a config option to link to your modified source, so it should be easy.

That's all invidious instances, restart hourly and it will work perfectly.

If you need help with anything, feel free to ask

[2021-12-16 21:28] tio-trom commented on #148
Sounds good! I will let our instance admin know and try to do all of those. Thanks!

[2021-12-18 12:36] TheFrenchGhosty commented on #172
We're keeping them.

[2021-12-18 12:36] #172 closed

[2022-01-02 16:54] MaximilianGT500 opened #178 "[New instance] DELETE"
### URL

DELETE

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

Germany

### Man in the Middle

Cloudflare
### Source code URL

_No response

[2022-01-02 19:51] #178 closed

[2022-01-07 12:29] zehkaFlokinet opened #180 "[New instance] invidious.flokinet.to"
### URL

invidious.flokinet.to

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

Romania, Europe

### Man in the Middle

Voxility, but read "A

[2022-01-07 12:43] TheFrenchGhosty commented on #180
Added to: https://stats.uptimerobot.com/89VnzSKAn/790271084

[2022-01-07 14:40] unixfox commented on #180
I approve the instance request to be added.

For me, as long as it's not a protection on the layer 7 it's fine.

[2022-01-08 22:06] mintphin opened #181 "[Remove instance] Remove vid.mint.lgbt"
On January 10th at 18:00 UTC I'll be shutting down my Invidious instance located at https://vid.mint.lgbt/, due to the constant issues I've been running into while hosting it. I've informed the users so they have time to migrate to a new instance before I shut it down. Can you please remove my instance from the instance list in the meantime?

[2022-01-09 00:04] SamantazFox commented on #181
I'm sorry to hear :/ Yes, I'll do a PR to remove your instance asap.

[2022-01-09 00:21] TheFrenchGhosty commented on #181
@mintphin It's really sad to see one of the most stable instance stops because Invidious is so unstable (and, because of me merging a PR that wasn't ready).

I'm really sorry, to you, and to everyone who used your instance that things had to end this way...

[2022-01-09 14:26] #181 closed

[2022-01-16 15:03] SamantazFox commented on #180
@zehkaFlokinet I don't see any trackers on your site. Why did you tick the 3 checkboxes related to analytics?

[2022-01-18 23:14] dejalavidavolar opened #183 "[New instance] <invidious.weblibre.org>"
### URL

https://invidious.weblibre.org

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

Chile

### Man in the Middle

_No response_

### Sou

[2022-01-18 23:25] dejalavidavolar commented on #183
PD: I don't know if you can verify in "statistics", but this instance has been running about one month ago.

(Sorry for my english)

[2022-01-19 06:58] unixfox commented on #183
Unfortunately what matters is the uptime over 1 month not that is has been running for 1 month.

[2022-01-19 13:00] dejalavidavolar commented on #183
I understand, so I have to wait from the time of this publication until one more month, right?

[2022-01-19 13:19] unixfox commented on #183
I do think so. @TheFrenchGhosty Can you add the instance on uptime robot?

[2022-01-19 13:21] TheFrenchGhosty commented on #183
@unixfox Done: https://stats.uptimerobot.com/89VnzSKAn/790386947

[2022-01-20 18:44] Jenni32222 opened #184 "[New instance] invid.datatunnel.xyz"
### URL

https://invid.datatunnel.xyz

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

Finland

### Man in the Middle

_No response_

### Sou

[2022-01-20 19:14] TheFrenchGhosty commented on #184
Added to: https://stats.uptimerobot.com/89VnzSKAn/790402206

[2022-01-20 23:31] githubuseresu opened #185 "[QUESTION] What determines the choice of the videos on the homepage?"
Hi :)

(1) I was wondering; what exactly determines the choice of the videos on the homepage? Does Invidious keep track what videos its users watch and places the most popular ones on the homepage? If so, how? I mean, what criteria does it use? (sorry I'm new to learning this stuff haha)
(2) I thus wondering, does watching a video on Invidious impact its popularity on YouTube (or Invidious), or in

[2022-01-22 20:40] dejalavidavolar commented on #183
Thanks you!

[2022-01-23 21:27] SamantazFox commented on #185
Hello there!

## **Regarding (1):**

Invidious proposes multiple "homepages"; There is the full-page search box and four pages displaying videos: "playlists", "subscriptions", "popular" and "trending".

The first two are only available to logged in users, and are exactly what you'd expect:
* the user's created and subscribed playlists
* and the videos from subscribed channels, respectively.

The "

[2022-01-25 17:49] Midou36O opened #186 "[Request to remove instance] invidious.mutahar.rocks"
I can't host invidious due to the server consuming too much electricity and my friend's dad pressuring him to turn off the server every day. Sorry for hosting it in only a few months but if i get another opportunity to host it i'll gladly do one day.

[2022-01-25 19:11] #186 closed

[2022-01-28 23:42] zehkaFlokinet commented on #180
I checked them because github reports 5/8 tasks done if they are not checked and i didn't know if breaks any integrations if not all tasks are marked done

[2022-01-29 10:35] unixfox commented on #180
Don't worry with "tasks done". Can you uncheck the unnecessary items?

[2022-01-29 11:54] zehkaFlokinet commented on #180
Done

[2022-02-04 05:57] PrivacyisGood opened #189 "[New instance] invidious.privacy.gd"
### URL

https://invidious.privacy.gd/

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

United States

### Man in the Middle

_No response_

[2022-02-04 06:06] PrivacyisGood commented on #189
This instance has been running since 2022-01-02, and has been monitored by [UptimeRobot](https://stats.uptimerobot.com/q5X3Lf1REj/790276489) since 2022-01-08.

[2022-02-04 16:15] TheFrenchGhosty commented on #189
Instance is miss-configured: you haven't followed: https://docs.invidious.io/Installation.md#post-install-configuration

[2022-02-05 04:01] PrivacyisGood commented on #189
Apologies, it looks like I was missing `external_port`. Can you check if it's correctly configured now?

[2022-02-05 05:20] EsmailELBoBDev2 opened #190 "[New instance] https://invidious.esmailelbob.xyz/"
### URL

https://invidious.esmailelbob.xyz/

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled

### Maintainer chart

- [X] Ensure that my instance is up to date (less than one month old)
- [X] Ensure a proper uptime of my instance (around 90%)

### Host country

CA

### Man in the Middle

_No response_

### So

[2022-02-05 09:49] unixfox commented on #190
@TheFrenchGhosty Can you add this instance on uptime robot?

[2022-02-05 09:51] unixfox commented on #189
I guess 3 more days to wait, apart from that everything is fine.

[2022-02-05 10:43] EsmailELBoBDev2 commented on #190
I already have my own status page, but okay!

https://esmailelbobdev2.github.io/upptime (soon will move it to status.esmailelbob.xyz)

[2022-02-05 11:55] unixfox commented on #190
On your status page there is no metric that show the uptime over one month so I think you will have to wait for one month until you get 90% of uptime on our uptime robot page.

[2022-02-05 16:29] TheFrenchGhosty commented on #189
All good now, if you have setup hourly restart of the instance it should be ready.

[2022-02-05 16:38] TheFrenchGhosty commented on #190
@unixfox

Added: https://stats.uptimerobot.com/89VnzSKAn/790566125

There is, but it looks bugged (maybe because the instance is less than a week old)

[2022-02-05 18:10] EsmailELBoBDev2 commented on #190
Yes, this is my new status page that I want to use so it's running less than month

[2022-02-06 16:04] SamantazFox commented on #190
It's easier for us to use uptimerobot, because that's where our instance API get its "health" data.
Getting the uptime from another source would require to have much more code on the API server.

[2022-02-08 14:03] unixfox commented on #189
I think we forgot to add the instance to our uptime robot page.

[2022-02-08 14:12] zehkaFlokinet commented on #180
If I'm not mistaken the month of uptime test time for this instance has passed. Unfortunately there were two small downtimes of 16 Minutes in total, but i would consider 99.963% of uptime as within the 90% limit.
I hope this instance meets your other requirements

[2022-02-08 15:37] TheFrenchGhosty commented on #180
@zehkaFlokinet Yes, it's fine.

Can you please confirm that:

- You have an hourly instance restart setup
- The instance is ready to join the official instance list

[2022-02-08 15:42] zehkaFlokinet commented on #180
I can't find any docs regarding the hourly restart, should i add a timer to restart the invidious service every hour?
Except that everything is ready for the official list

[2022-02-08 15:43] TheFrenchGhosty commented on #180
https://docs.invidious.io/Installation.md#post-install-configuration

"Because of various issues Invidious must be restarted often, at least once a day, ideally every hours."

Yes, you should definitely add something to restart it.

[2022-02-08 15:48] zehkaFlokinet commented on #180
Restart is now configured, we are all set

[2022-02-08 15:49] TheFrenchGhosty commented on #180
@zehkaFlokinet Perfect! Thanks for hosting Invidious :)

[2022-02-08 15:55] #189 closed

[2022-02-08 15:59] TheFrenchGhosty commented on #189
@unixfox

Added: https://stats.uptimerobot.com/89VnzSKAn/790590336

[2022-02-08 16:43] unixfox commented on #189
@PrivacyisGood Is hourly restart configured?

[2022-02-08 16:53] PrivacyisGood commented on #189
Yes, a cron job is set to restart it every hour.
-------- Original Message --------
On Feb 8, 2022, 11:43 AM, Émilien Devos wrote:

[2022-02-10 20:53] Midou36O opened #196 "[New instance] MutaTechTips"
### URL

https://invidious.mutahar.rocks

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

###

[2022-02-10 21:00] TheFrenchGhosty commented on #196
Added to uptime.invidious.io: https://stats.uptimerobot.com/89VnzSKAn/790609810 and https://stats.uptimerobot.com/89VnzSKAn/790609823

[2022-02-10 21:18] unixfox commented on #196
Not sure why you are advertising two different domains while if the first one dies you can just change the A record to a secondary server...

[2022-02-11 12:26] Midou36O commented on #196
I'm not advertising, the reason why i did that is to also separate the load, if the main server slows down or has issues the user can still go to the secondary server anytime he wants.

[2022-02-11 23:51] MaximilianGT500 opened #197 "[New instance] max16k"
### URL

https://max16k.invidious.icu

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Ma

[2022-02-13 15:29] TheFrenchGhosty opened #229 "[Discussion] Consider recommending Libredirect instead of Privacy Redirect"
**Half enhancement, Half discussion**

We're looking for user opinions, feel free to reply to this issue, or to the associated toot: https://social.tchncs.de/@invidious/107791413111817572

**Is your enhancement request related to a problem? Please describe.**

We currently endorse, and even recommend Privacy Redirect, however the project is basically dead, and unmaintained.

**Describe the solutio

[2022-02-15 14:22] unixfox commented on #197
Hi,
I've just added your instance to our uptime robot page: https://stats.uptimerobot.com/89VnzSKAn/790661737

You will have to wait around 1 month for having the instance on the list.

[2022-02-15 15:11] TheFrenchGhosty commented on #197
@unixfox And it's already down :3

[2022-02-15 15:21] unixfox commented on #197
@MaximilianGT500 Do you still have plans to host an invidious instance?

[2022-02-15 15:23] MaximilianGT500 commented on #197
Yes, i buyed a new server with 10GBit/s and i migrate it today.

[2022-02-17 11:10] unixfox commented on #107
@SamantazFox @matthewmcgarvey Should we force a crystal version in the shards.yml like in https://github.com/iv-org/lsquic.cr/blob/master/shard.yml so that the users know that they have to use a specific crystal version?

[2022-02-17 14:32] matthewmcgarvey commented on #107
I think we already do https://github.com/iv-org/invidious/blob/d199b7264ebdad65c0c5b367bb8d36b2eab55be5/shard.yml#L40

The other thing to do would be to include a `.crystal-version` file in the root of the project. Not sure how it could be used in our scenario though

[2022-02-21 20:13] SamantazFox commented on #107
@unixfox yes, we should modify the `shard.yml` file to specify the currently supported versions (i.e 1.0.0 to 1.2.2 inclusive).

And as @gripped said, we should specify a way to get the 1.2.2 version in the install documentation.

[2022-02-22 14:38] TheFrenchGhosty opened #201 "Document Postgres update (major to major)"
Follow up to https://github.com/iv-org/documentation/pull/200#discussion_r811677892

Postgres update (between major versions) requires dumping (from the old version) and importing the dump (to the new version).

We should document it, ideally we should have copy-paste ready (for docker and non-docker install)

[2022-02-22 20:50] schaphil opened #203 "Updating.md missing"
Hey guys,

in the overview of the documentation there is an item Updating. This refers to a file that no longer exists ;)

https://github.com/iv-org/documentation/blob/master/Updating.md

Greetings

[2022-02-22 23:01] #203 closed

[2022-02-23 08:42] unixfox commented on #201
Related: https://github.com/docker-library/postgres/issues/37

[2022-02-24 18:18] SamantazFox commented on #203
thanks for reporting this :)

[2022-03-02 21:44] unixfox commented on #183
Awesome, I think we can already add your instance meanwhile.

[2022-03-02 21:55] TheFrenchGhosty commented on #183
@dejalavidavolar Something seems wrong with the RSS on your instance, they don't return any video: https://invidious.weblibre.org/feed/channel/UCXuqSBlHAE6Xw-yeJA0Tunw

[2022-03-02 21:59] TheFrenchGhosty commented on #190
Instance is miss-configured: you haven't followed: https://docs.invidious.io/Installation.md#post-install-configuration

[2022-03-03 03:27] dejalavidavolar commented on #183
Oh, i don t know what could be the problem with RSS. Any idea about how to fix that? Tomorrow I would try to check the configuration.

Regards

[2022-03-03 06:59] unixfox commented on #183
Could just be because you need to update.

[2022-03-03 09:18] EsmailELBoBDev2 commented on #190
I followed those 3 settings and it was just `https_only` that set to false. other 2 were already set

So https only now set to true

[2022-03-03 16:51] TheFrenchGhosty commented on #190
@EsmailELBoBDev2

`external_port:` is still not set.

[2022-03-03 17:40] dejalavidavolar commented on #183
Ok, thanks! I m updating now.

[2022-03-03 17:58] dejalavidavolar commented on #183
I just updated it. Can you check if its working correctly now?

Regards!

[2022-03-03 17:59] TheFrenchGhosty commented on #183
@dejalavidavolar Seems to be working fine.

It seems properly configured, so it's ready to be added to the instances list.

Can you confirm that it's ready on your side?

[2022-03-03 18:17] dejalavidavolar commented on #183
Great! Yes, now is ready. Thanks you very much! :smile:

[2022-03-03 18:23] #183 closed

[2022-03-04 13:58] EsmailELBoBDev2 commented on #190
Weird. I already set it to `external_port: 3000`

[2022-03-04 14:23] unixfox commented on #190
Please read again the comment about `external_port` and the meaning about "external":
[code]

[2022-03-04 17:01] EsmailELBoBDev2 commented on #190
Oh okay now this is more weirder. Because when he first told me about it I changed from invidious port (that opened in docker/nginx) and changed to vanilla invidious port so now what which port I change to? 443?

[2022-03-04 17:03] TheFrenchGhosty commented on #190
Yes 443. The port from which the instance is accessed from.

[2022-03-04 19:44] EsmailELBoBDev2 commented on #190
done

[2022-03-04 23:04] TheFrenchGhosty commented on #190
@EsmailELBoBDev2 Alright, the problem is fixed.

Please confirm that the instance is ready to be added to the instances list.

[2022-03-04 23:32] EsmailELBoBDev2 commented on #190
oh yeah it is

[2022-03-04 23:36] #190 closed

[2022-03-04 23:38] unixfox commented on #197
@MaximilianGT500 do you still want your instance to be added into the official invidious instances list?

[2022-03-04 23:39] MaximilianGT500 commented on #197
Yes

[2022-03-06 21:27] TheFrenchGhosty commented on #184
Instance is properly configured and has good uptime.

Do you have auto-restart setup? If yes, are you ready for it to be added to the instance list?

[2022-03-12 23:01] TheFrenchGhosty opened #211 "Setup daily CI build"
mkdocs-material can get updates
The deployment image can get security fixes

Depends on https://github.com/iv-org/infrastructure/issues/5

[2022-03-15 18:00] christoofar opened #213 "Feature Yggdrasil instance nodes not just I2P"
Yggdrasil is easier to install and set up than I2P is.

There is a ygg invidious node here ->  http://[301:6ad2:20f6:91be::2]/watch?v=VJr6jP4e14M

Can we get a separate list of Ygg nodes going?

[2022-03-18 16:53] iso-i opened #214 "[idea/request] If it is possible to use invidious as a parental whitelist filter?"
I'm trying to set up a server that could run locally as a YouTube proxy, to whitelist videos for school. I'm hoping that I will be able to import lists of whitelisted videos similar to how `uBlock Origin` lets users subscribe to other people's lists **and** have their own videos.

(That way the school could publish their own whiltelist and parents could just have their copy subscribe to that URL.)

[2022-03-19 21:19] TheFrenchGhosty commented on #196
@Midou36O Instances are properly configured and have good uptime.

Are you ready for them to be added to the instance list?

[2022-03-19 21:20] TheFrenchGhosty commented on #197
@MaximilianGT500 Instance is properly configured and has good uptime.

Do you have auto-restart setup? If yes, are you ready for it to be added to the instance list?

[2022-03-19 21:21] MaximilianGT500 commented on #197
Yes, i have an Auto-restart every day.

[2022-03-19 21:22] TheFrenchGhosty commented on #189
@PrivacyisGood The instance hasn't been updated for a month, please update it.

You have 48 hours before rule 2 is applied.

[2022-03-19 21:22] TheFrenchGhosty commented on #197
@MaximilianGT500

[2022-03-19 21:23] MaximilianGT500 commented on #197
Yes, ready.

[2022-03-19 21:25] #197 closed

[2022-03-19 21:26] TheFrenchGhosty commented on #197
@MaximilianGT500 Added, thanks for a hosting a public instance.

[2022-03-19 21:27] TheFrenchGhosty commented on #184
@Jenni32222 ping

[2022-03-20 15:53] Midou36O commented on #196
Yep! Just a quick information registrations are disabled.

[2022-03-20 23:49] #196 closed

[2022-03-20 23:49] TheFrenchGhosty commented on #196
@Midou36O Added, thanks for a hosting public instances.

[2022-03-21 22:36] MaximilianGT500 commented on #197
@TheFrenchGhosty, can you change the url to invidious.lunar.icu?

[2022-03-21 22:43] TheFrenchGhosty commented on #197
@MaximilianGT500 Done, also added to https://uptime.invidious.io/ https://stats.uptimerobot.com/89VnzSKAn/791066647

PS: don't expose plesk at the root of your domain https://lunar.icu/

[2022-03-21 22:45] MaximilianGT500 commented on #197
Yes, i forgot it, thanks.

Thank you ;)

[2022-03-22 12:39] sethforprivacy opened #218 "[New instance] invidious.sethforprivacy.com"
### URL

https://invidious.sethforprivacy.com

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

[2022-03-22 12:40] sethforprivacy commented on #218
To clarify -- I have a crontab in-place that can auto-restart the instance, but it is currently disabled.

If that is truly a requirement to have the instance added I can enable it at a moment's notice.

[2022-03-22 16:42] unixfox commented on #218
Added to uptime robot: https://stats.uptimerobot.com/89VnzSKAn/791088803

Like you already read, you will have to wait one month until your instance is added.

[2022-03-22 17:34] sethforprivacy commented on #218
Thanks!

[2022-03-22 19:43] TheFrenchGhosty commented on #218
It is yeah, Invidious breaks if it's not restarted, it always breaks, it's just faster to break the more used an instance is, so public instance needs to be restarted hourly.

[2022-03-23 12:01] sethforprivacy commented on #218
Re-enabled the hourly restart per this request.

[2022-03-24 17:05] #211 closed

[2022-03-26 17:13] #163 closed

[2022-04-04 04:45] Showfom opened #222 "[New instance] y.com.sb (formerly y.com.cm)"
### URL

https://y.com.sb/

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Maintainer ch

[2022-04-05 10:47] unixfox commented on #184
Closing due to a lack of replies, please reopen if you are back.

[2022-04-05 10:47] #184 closed

[2022-04-05 12:30] TheFrenchGhosty commented on #222
@Showfom Instance is properly configured and has good uptime.

Please confirm that you indeed have auto-restart setup?

If yes, are you ready for it to be added to the instance list?

[2022-04-06 03:46] Showfom commented on #222
Yes I set `restart: always` in our `docker-compose.yaml`

We are ready to be added to the instance list.

[2022-04-06 11:48] unixfox commented on #222
No we mean an auto restart of invidious every hour.

[2022-04-06 11:58] Showfom commented on #222
[code]

Yes, hourly auto restart set.

[2022-04-06 13:00] #222 closed

[2022-04-07 16:38] tiekoetter opened #225 "[New instance] invidious.tiekoetter.com"
### URL

https://invidious.tiekoetter.com/

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

#

[2022-04-07 17:24] unixfox commented on #225
Instance added in https://stats.uptimerobot.com/89VnzSKAn/791342400, you will have to wait for 30 days.
Meanwhile you can tell us if you enabled auto restart of invidious every hour.

[2022-04-07 17:33] tiekoetter commented on #225
Thanks.

Yes I have a script running which restarts the instance every hour.

If you look at my previous uptime tracking you can see that it crashed two times. CPU stays at 100% and nothing happens until I restart. Do you have any tips to prevent this from happening?

[2022-04-07 17:42] unixfox commented on #225
This happens when invidious can't connect to postgresql, at least that's what I used to have when it stayed at 100%.

[2022-04-13 13:45] GhostSlayer opened #227 "[New instance] https://invidious.drivet.xyz"
### URL

https://invidious.drivet.xyz

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Ma

[2022-04-13 14:25] unixfox commented on #227
Did you enable the autorestart of invidious every hour?

[2022-04-13 15:37] GhostSlayer commented on #227
Yup, this is a weird way to do it, but it works
![image](https://user-images.githubusercontent.com/51095261/163217510-3950ce7e-5df3-4c17-8e50-f5f7dc82a8ce.png)

[2022-04-13 15:42] TheFrenchGhosty commented on #227
Added to uptime.invidious.io: https://stats.uptimerobot.com/89VnzSKAn/791411848

[2022-04-22 16:15] DetroitLibertyPenguin opened #230 "Forgot Password"
There doesn't seem to be any option for how to achieve your account without knowing the current password.

I mean that's fine if that's your goal, but make that more clear up front. Some other services, like riseup.net, utilize a secret recovery code, instead of the more common "we have to store your email address in order for us to help you" that's clearly communicated during sign up.

Apparently

[2022-04-26 20:32] sethforprivacy commented on #218
@unixfox @TheFrenchGhosty anything needed from me to close this out? Has been one month 🙂

[2022-04-26 21:23] TheFrenchGhosty commented on #218
@sethforprivacy Nothing more is needed from you, just please confirm that the instance is ready to be added in the list (including the automated restart).

[2022-04-26 21:25] sethforprivacy commented on #218
Confirmed on both points.

[2022-04-26 21:31] TheFrenchGhosty commented on #218
@sethforprivacy You might want to change the homepage to either the trending, or to a search page (it's optional though, I will still add the instance)

[2022-04-26 21:34] #218 closed

[2022-04-27 12:05] sethforprivacy commented on #218
Thanks, now that the instance is on your list and seeing heavy usage I re-enabled the Popular page.

[2022-05-09 20:53] unixfox commented on #189
Please inform us in advance if you discontinue your instance @PrivacyisGood

[2022-05-11 06:06] SamantazFox commented on #227
Instance has been down for most of the probatory period.

[2022-05-11 06:10] SamantazFox commented on #225
Good to be added to the list imo!

[2022-05-11 14:40] TheFrenchGhosty commented on #225
@tiekoetter

Instance is properly configured and has good uptime.

Please confirm (again) that you indeed have auto-restart setup?

If yes, are you ready for it to be added to the instance list?

[2022-05-11 14:46] tiekoetter commented on #225
@TheFrenchGhosty
Yes I have a cronjob in place which restarts invidious every hour. I also have a script active which checks if invidious reports anything other than 200 and restarts it if the condition is true (I have implemented it today after invidious crashed two more times).

If you or the other reviewers don't have anything else which needs to be addressed I think the instance is ready to be

[2022-05-11 14:47] TheFrenchGhosty commented on #225
@tiekoetter Alright, perfect. We're adding it then.

Thanks for hosting Invidious :)

[2022-05-11 14:47] #225 closed

[2022-05-22 13:21] Sommerwiesel opened #241 "[New instance] https://invidious.nerdvpn.de"
### URL

https://invidious.nerdvpn.de

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Ma

[2022-05-26 08:10] Sommerwiesel commented on #241
https://stats.uptimerobot.com/mn6k9upm1g

[2022-05-30 14:49] gi-yt opened #244 "[New instance] https://inv.vern.cc"
### URL

https://inv.vern.cc

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Maintainer

[2022-05-31 21:45] Slips-PC opened #245 "[New instance] https://invidious.slipfox.xyz"
### URL

https://invidious.slipfox.xyz

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### M

[2022-06-01 09:49] Sommerwiesel commented on #241
Note - I will be on vacation from 06-03-2022 to 06-20-2022 and will not respond during this time.
Feel free to add my instance to the public list, even if I'm away.
I have triple-checked everything and am 100% sure my instance is ready for production.

Thanks in advance,
MZ

[2022-06-01 10:01] unixfox commented on #245
Added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/791917316

[2022-06-01 10:02] unixfox commented on #241
Added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/791917306

[2022-06-01 13:56] Slips-PC commented on #245
what does this mean for me? does the service need to record a certain amount of uptime over a certain period, i'm guessing?

[2022-06-01 14:12] unixfox commented on #245
You will need to wait 1 month until your instance is added to the official list.

[2022-06-01 14:38] Slips-PC commented on #245
I see.

[2022-06-06 12:27] hnhx opened #247 "[New instance] https://yt.beparanoid.de"
URL

Clearnet: https://yt.beparanoid.de
Tor hidden service: http://yt.prnoid54e44a4bduq5due64jkk7wcnkxcp5kv3juncm7veptjcqudgyd.onion
I2P hidden service: http://gv2c4pc3zxgubsaujc46vpmmxiebczk27d7umy6dpsu25ftq77aa.b32.i2p

Mandatory checks

    Instance has a domain name
    Instance is served over HTTPS
    Statistics (/api/v1/stats) are enabled
    Instance is properly configured (including the m

[2022-06-22 08:02] Computershik73 opened #250 "[Bug] iteroni.com disabled http protocol"
iteroni.com worked through http on legacy devices until now. Several minutes ago, it started to return "308 permanent redirect" when accessing via http.
Please return http support for old devices.
Upd: now they just redirect to https.

[2022-06-22 10:58] Computershik73 commented on #250
hoorah, it works again

[2022-06-22 10:58] #250 closed

[2022-06-25 23:31] 4-FLOSS-Free-Libre-Open-Source-Software commented on #244
🧅 [http://inv.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion/](http://inv.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion/)

[2022-06-26 08:49] gi-yt commented on #244
yeah we also added onion a few weeks back

[2022-06-27 11:28] Sommerwiesel commented on #241
I have one question about the hourly restart.
I understand why it's neccessary to circumvent the inevitable "invidious breaking down" after a while.
However, I find it hard to believe it's the best solution to this.

Can someone explain what exactly happens when invidious crashes?
Is there some way to monitor this and only restart invidious the moment such a crash happens?

I have full root access

[2022-06-27 16:26] unixfox commented on #241
Nowadays if you don't have `use_quic` enabled invidious will never really crash but it can become sluggish due to some unknown memory leaks: https://github.com/iv-org/invidious/issues/1438

This is why we recommend restarting it every hour because a public instance will receive way more traffic than a private one and will become sluggish more quickly.

If you don't want to break "active sessions",

[2022-06-27 16:28] unixfox commented on #247
Added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/792109816

[2022-06-27 16:32] SamantazFox commented on #241
I have absolutely no clue, sorry :/ If you find out why, please open an issue with your findings !

Nope.

The phenomenon is weird in many aspects. It's not as simple as "invidious breaks" like your program have a segfault. Invidious becomes sluggish (slow to respond) as the time goes on, and you get more occurences of weird things, like slow response times, subscriptions not refreshing anymore, d

[2022-07-01 06:34] gi-yt commented on #244
@unixfox can you add inv.vern.cc now?

[2022-07-01 16:25] TheFrenchGhosty commented on #241
@Sommerwiesel Instance is properly configured and has good uptime.

Please confirm that you indeed have auto-restart setup?

If yes, are you ready for it to be added to the instance list?

[2022-07-01 18:06] Sommerwiesel commented on #241
@TheFrenchGhosty Yes, please add my instance to the public list.

Thanks for the feedback. The "video/playlist/community" category "switcher" not being visible is a bug in the css, I will fix it asap. The rest is as intended.

A pleasure working with you guys/gals and have a nice weekend :)

[2022-07-01 20:27] TheFrenchGhosty commented on #244
@gi-yt Instance is properly configured and has good uptime.

Are you ready for it to be added to the instance list?

[2022-07-02 09:20] gi-yt commented on #244
yeah we are ready for it to be added @TheFrenchGhosty

[2022-07-02 10:31] #244 closed

[2022-07-02 20:43] unixfox commented on #245
@TheFrenchGhosty can you check the instance please :)?

[2022-07-02 21:02] TheFrenchGhosty commented on #244
I forgot to check this during my initial check, but the instances doesn't have statistics enabled, please enable them.

https://inv.vern.cc/api/v1/stats

[2022-07-02 21:04] TheFrenchGhosty commented on #245
@Slips-PC The instance doesn't have statistics enabled, please fix it.

https://invidious.slipfox.xyz/api/v1/stats

Other than that, the instance is properly configured and has good uptime.

Are you ready for it to be added to the instance list (after the statistics are enabled)?

[2022-07-02 22:18] Slips-PC commented on #245
@TheFrenchGhosty I will be sure to do that ASAP, which will be probably in a couple hours. After that, yeah, you can add it to the instance list.

[2022-07-03 02:49] Slips-PC commented on #245
@TheFrenchGhosty stats are up. Feel free to add whenever.

[2022-07-03 06:00] gi-yt commented on #244
oops, i will enable it one sec

[2022-07-03 06:01] gi-yt commented on #244
![image](https://user-images.githubusercontent.com/73596856/177027004-10d386bc-8bf8-4f7b-9e6c-45e7b7e24740.png)
its there here?

[2022-07-03 06:03] gi-yt commented on #244
nvm, i have enabled it now

[2022-07-03 06:34] #245 closed

[2022-07-03 10:43] TheFrenchGhosty commented on #247
@hnhx Please re-open an issue and fill the template instead of copy-pasting from another issue.

[2022-07-03 10:43] #247 closed

[2022-07-06 16:00] Exonip opened #260 "[New instance] inv.privacy.com.de"
### URL

https://inv.privacy.com.de

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Main

[2022-07-06 16:05] TheFrenchGhosty commented on #260
Receiving an email notification about a issue for a new instance on the "privacy.com" domain surprised me... then I noticed the .de

Just FYI: they might send lawyer after you for that.

Other than that, I guess 1 week waiting period is fine (if @unixfox is okay with that).

Added on uptimerobot: https://stats.uptimerobot.com/89VnzSKAn/792194210

[2022-07-06 16:07] unixfox commented on #260
Okay for 1 week of waiting.

[2022-07-06 16:09] TheFrenchGhosty commented on #260
@unixfox

"privacy.com" has good SEO (and is well known) so it's surely for that.

[2022-07-06 16:12] unixfox commented on #260
privacy.com is a company offering a commercial product, not privacy.com.de

And it's privacy.com not private.com.de, I don't think that will help with the SEO. In fact, google may think this is a copysite which is bad for SEO.

But an invidious instance shouldn't be indexed into the search engines or else they will attrack people that send DMCA requests.

[2022-07-06 16:20] unixfox commented on #260
Please note that your OCSP server configured is broken: https://www.ssllabs.com/ssltest/analyze.html?d=inv.privacy.com.de

[2022-07-06 16:21] TheFrenchGhosty commented on #260
You'll get the European version, which is basically the same thing.

[2022-07-09 13:11] mcbrown1010 opened #261 "[New instance] <invidious.rhyshl.live>"
### URL

https://invidious.rhyshl.live/

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

###

[2022-07-10 08:48] TheFrenchGhosty commented on #261
Added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/792221529

[2022-07-13 11:04] Exonip commented on #260
Uptime of 99.698%, I thinks it's fair to add the instance now? The OCSP issue should also be fixed

[2022-07-14 20:46] TheFrenchGhosty commented on #260
@Exonip Instance is miss-configured. Please follow the post-install setup properly.

[2022-07-25 18:31] #260 closed

[2022-08-13 22:51] Uhhu738 opened #264 "invidious.osi.kr status page"
So for invidious.osi.kr, the instance does a "502 bad gateway". I tried checking the status page but there isn't a status page up anymore (just redirects to an invalid page). I want to know the status/stability of the instance but I can't.

[2022-08-14 07:28] chirag127 opened #265 "[Bug] incorrect spelling of "url" in https://api.invidious.io/instances.json"
**Describe the bug**
incorrect spelling of url in https://api.invidious.io/instances.json

**Steps to Reproduce**

**Screenshots**
![image](https://user-images.githubusercontent.com/76880977/184526866-c047d830-798f-4ded-bf2a-ad2ddb1f962e.png)

[2022-08-14 10:27] TheFrenchGhosty commented on #264
You can check https://uptime.invidious.io but if both the instance and the associated status page are down, the instance is most likely dead.

[2022-08-14 19:53] Slips-PC opened #266 "[New instance] http://am74vkcrjp2d5v36lcdqgsj2m6x36tbrkhsruoegwfcizzabnfgf5zyd.onion"
### URL

http://am74vkcrjp2d5v36lcdqgsj2m6x36tbrkhsruoegwfcizzabnfgf5zyd.onion

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has

[2022-08-15 13:18] hys0star commented on #264
Invidious.osi.kr was not available due to internal problems, but it is now resolved. I'm sorry for the inconvenience.

[2022-08-15 18:22] 11Tuvork28 opened #267 "[New instance] invidio.xamh.de"
### URL

https://invidio.xamh.de/

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/Installation.md#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Mainta

[2022-08-15 19:26] #264 closed

[2022-08-16 06:11] #266 closed

[2022-08-21 11:44] TheFrenchGhosty commented on #261
@mcbrown1010 Instance is properly configured and has good uptime.

Are you ready for it to be added to the instance list?

[2022-08-21 12:30] #261 closed

[2022-08-21 13:23] Odyssey346 opened #270 "[New instance] inv.odyssey346.dev"
### URL

https://inv.odyssey346.dev

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [x] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Mainta

[2022-08-21 13:32] Odyssey346 opened #271 "[New instance] iv.odysfvr23q5wgt7i456o5t3trw2cw5dgn56vbjfbq2m7xsc5vqbqpcyd.onion"
### URL

iv.odysfvr23q5wgt7i456o5t3trw2cw5dgn56vbjfbq2m7xsc5vqbqpcyd.onion

### Mandatory checks

- [ ] Instance has a domain name
- [ ] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an aut

[2022-08-21 16:23] Viarity opened #272 "[New instance] inv.trolling.dev"
### URL

https://inv.trolling.dev

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Maintain

[2022-08-21 18:25] mcbrown1010 commented on #261
@unixfox Yes please

[2022-08-22 18:00] panki27 opened #273 "[Bug] Default apache2 config breaks livestreams with 403"
**Describe the bug**
My otherwise fine instance didn't play livestreams at all and just started throwing lots of 403 errors on the `/api/manifest/hls_playlist/` endpoint.

Livestreams did not play, everything else did.

**Steps to Reproduce**
Use [default apache2 config](https://docs.invidious.io/apache2/) and try to load a livestream (ex. `watch?v=jfKfPfyJRdk` for lofi hiphop girl).

Especially,

[2022-08-22 18:21] panki27 commented on #273
Thanks for the move @unixfox - I was unaware docs had its own repo at that time.
Pull request: https://github.com/iv-org/documentation/pull/274

[2022-08-22 19:12] imgustavo commented on #54
This is not working anymore. I dont get the file with my subscriptions in this way or in the way descripted by google. Anyone knows a workaround to import my subscriptions to invidious?

[2022-08-22 19:28] imgustavo commented on #54
After trying like for 1 hour i found a workaround to export my subscriptions. I followed all steps described here, except the step 8 Choose "channel-memberships".  In 2022 you need to choose "channel memberships" + subscriptions, or it wont work. Thanks for your post. I gave up about this till i read your post

[2022-08-25 21:20] Uhhu738 commented on #264
thanks

[2022-08-27 09:43] Wint3rmute opened #275 "[New instance] invidious.baczek.me"
### URL

https://invidious.baczek.me

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Maint

[2022-08-28 03:49] umarhadi opened #276 "[New instance] yt.wkwkwk.fun"
### URL

https://yt.wkwkwk.fun

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Maintainer

[2022-08-30 14:58] unixfox commented on #275
Instance added on the uptime tracker: https://stats.uptimerobot.com/89VnzSKAn/792576727

[2022-08-30 14:59] unixfox commented on #272
Instance added on the uptime tracker: https://stats.uptimerobot.com/89VnzSKAn/792576734

[2022-08-30 14:59] unixfox commented on #270
Instance added on the uptime tracker: https://stats.uptimerobot.com/89VnzSKAn/792576736

[2022-08-30 15:00] unixfox commented on #267
Instance already on the uptime tracker: https://stats.uptimerobot.com/89VnzSKAn/788946187

[2022-08-30 15:03] unixfox commented on #270
Instance seems down, do you still want to host a public instance?

[2022-08-30 15:07] Odyssey346 commented on #270
Yes. Sorry, but the VPS that is running Invidious right now is down due to maintenance. I will wait for it to come back up so I can docker swarm them

[2022-08-30 15:15] Odyssey346 commented on #270
We are just waiting on OVH to respond because my VPS is hosted on a dedi, and it has to be fixed by someone at OVH

[2022-08-31 08:44] #273 closed

[2022-08-31 09:53] dhuschde opened #277 "[New instance] invidious.dhusch.de"
### URL

https://invidious.dhusch.de

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup

### Maint

[2022-08-31 10:02] unixfox commented on #277
You need to hourly restart Invidious.

[2022-08-31 16:00] Odyssey346 commented on #270
I have heard from my provider that he might discontinue the Poland host. So I will run it on the new VPS for now, which means a reset.

[2022-09-12 12:43] GhostSlayer commented on #227
Hello, long time no see, i shut down my invidious instance long time as it was not a priority service on our team.

Though we have now taken all "privacy services" as our priority and we have restored https://invidious.drivet.xyz, it has the hourly restart since i have the old compose file for it

[2022-09-15 07:18] NoaHimesaka1873 opened #281 "[New instance] yt.funami.tech"
### URL

https://yt.funami.tech

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of Invidious

#

[2022-09-15 19:24] EsmailELBoBDev2 opened #282 "Update onion of invidious.esmailelbob.xyz"
Want to add that my onion link has changed: http://invidious.esmail5pdn24shtvieloeedh7ehz3nrwcdivnfhfcedl7gf4kwddhkqd.onion/

[2022-09-23 06:28] unixfox commented on #276
Hi, for the moment your instance doesn't qualify for being added to the instance list because it has less than 90% of uptime.

We will wait until your instance manage to have 90% of uptime. You should watch out of the uptime because it is important.

[2022-09-25 01:16] dejalavidavolar opened #284 "Add invidious.weblibre.org"
Add back the instance, see https://github.com/iv-org/documentation/issues/284#issuecomment-1259496900

----

Hello, I hope you are well. I am writing because unfortunately I am having problems with the server provider of my instance (invidious.weblibre.org), so it will not be available. I hope to be able to fix it within the next few days. Sorry for the inconvenience and I hope to be able to add m

[2022-09-26 20:40] unixfox commented on #276
Closing this issue considering the very bad uptime on your instance.

Reopen if you plan to keep your instance stable.

[2022-09-26 20:40] #276 closed

[2022-09-26 20:42] #282 closed

[2022-09-26 20:45] unixfox commented on #277
Added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/792755243

[2022-09-26 20:49] unixfox commented on #270
note: need to add https://github.com/iv-org/documentation/issues/271 with this instance too

[2022-09-27 13:19] dejalavidavolar commented on #284
Hi! @unixfox

I was able to resolve the issue with my VPS service provider. I even upgraded the server features now.

Sorry for the delay and the time the instance was inaccessible.

Should I go through the application process again?

[2022-09-27 13:25] unixfox commented on #284
what do you think @TheFrenchGhosty

[2022-09-27 13:43] TheFrenchGhosty commented on #284
@unixfox Yes, but with a wait of 1 week.

[2022-09-27 13:53] dejalavidavolar commented on #284
@unixfox @TheFrenchGhosty Thank you both for your understanding!

[2022-09-29 13:38] GhostSlayer commented on #227
Just out of curiousity, will my instance be back on the instances list?

[2022-09-29 14:48] unixfox commented on #227
@TheFrenchGhosty what do you think? 1 week too?

[2022-09-29 18:09] TheFrenchGhosty commented on #227
@unixfox One month from https://github.com/iv-org/documentation/issues/227#issuecomment-1243686176

The first "entry request" doesn't count.

[2022-10-02 03:06] NoaHimesaka1873 commented on #281
@unixfox no responce?

[2022-10-02 13:24] Silur opened #288 "[New instance] invidious.silur.me"
### URL

https://invidious.silur.me

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of Invidiou

[2022-10-13 19:24] PrivacyDevel opened #292 "[New instance] invidious.privacydev.net"
### URL

https://invidious.privacydev.net

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of In

[2022-10-14 07:32] unixfox commented on #288
Instance added to uptime robot: https://stats.uptimerobot.com/89VnzSKAn/792859042

[2022-10-14 07:42] unixfox commented on #227
Added back on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/792859082

[2022-10-14 07:43] unixfox commented on #281
Instance added to uptime robot: https://stats.uptimerobot.com/89VnzSKAn/792859086

[2022-10-14 07:47] unixfox commented on #260
@Exonip Your instance has been down for more than 1 day, watch out you are almost at the uptime limit.

[2022-10-14 08:32] TheFrenchGhosty commented on #275
Instance is miss-configured: you haven't followed: https://docs.invidious.io/installation/#post-install-configuration

[2022-10-14 08:35] TheFrenchGhosty commented on #272
Instance is miss-configured: you haven't followed: https://docs.invidious.io/installation/#post-install-configuration

[2022-10-14 08:40] TheFrenchGhosty commented on #284
Instance is partially broken, it's serving "bad" RSS feeds that don't contain any content.

[2022-10-14 08:59] #277 closed

[2022-10-14 08:59] #270 closed

[2022-10-14 09:19] Wint3rmute commented on #275
I've double-checked my configuration and the only thing I could find was invalid value of `external_port`. It's set to `443` now. @TheFrenchGhosty please let me know if it's all alright now.

[2022-10-14 11:14] PrivacyDevel commented on #292
Thank you for adding my instance to uptimerobot! :)
And yes, I am aware. I have done so already. It's part of the patch file that I link to in the source code URL.

[2022-10-14 19:22] mansfieldweb opened #294 "New instance: invidious.servicesforfree.com"
New instance at invidious.servicesforfree.com

[2022-10-14 20:02] unixfox commented on #294
Please fill the template by opening a new github issue.

[2022-10-14 20:02] #294 closed

[2022-10-15 01:12] dejalavidavolar commented on #284
I just upgraded to the latest version. I hope it is fixed.

[2022-10-15 09:46] TheFrenchGhosty commented on #284
Instance is properly configured now. @dejalavidavolar @unixfox

[2022-10-15 20:22] Odyssey346 commented on #270
Well that's unfortunate... Seems like my host messed something up with my VPS! Just excuse this downtime, I have contacted him and I will let you know when I get a message. In the meantime, screw OVH

[2022-10-15 20:45] Odyssey346 commented on #270
And we're back

[2022-10-17 12:04] unixfox commented on #245
@Slips-PC please update your instance, is it more than one month old.

[2022-10-17 12:05] unixfox commented on #190
@EsmailELBoBDev2 please update your instance, it is more than one month old

[2022-10-18 06:21] unixfox commented on #284
Done in https://github.com/iv-org/documentation/commit/ac6f26960e90330eec7d34cb61a4189c42bb81ce

[2022-10-18 06:21] #284 closed

[2022-10-18 06:21] unixfox commented on #275
Done in https://github.com/iv-org/documentation/commit/ac6f26960e90330eec7d34cb61a4189c42bb81ce

[2022-10-18 06:21] #275 closed

[2022-10-18 06:23] unixfox commented on #281
@TheFrenchGhosty please check the configuration of this instance

[2022-10-18 06:23] unixfox commented on #292
@TheFrenchGhosty please check the configuration of this instance

[2022-10-18 06:24] unixfox commented on #227
@TheFrenchGhosty please check the configuration of this instance

[2022-10-18 06:24] unixfox commented on #288
@TheFrenchGhosty please check the configuration of this instance

[2022-10-18 06:26] #271 closed

[2022-10-18 19:50] ChunkyProgrammer opened #295 "Document Community endpoint for API"
There isn't any documentation of the community API which is available here: https://redirect.invidious.io/api/v1/channels/UCnkp4xDOwqqJD7sSM3xdUiQ/community?pretty=1
I think this endpoint should probably be documented.

[2022-10-20 00:49] EsmailELBoBDev2 commented on #190
I knew it, my update script does not work. And done.

[2022-10-20 06:50] unixfox commented on #222
@Showfom could you please keep your instance up to date? it is more than one month old

[2022-10-20 06:51] unixfox commented on #261
@mcbrown1010 could you please keep your instance up to date? it is more than one month old

[2022-10-20 06:52] unixfox commented on #119
@TechnicalSuwako could you please keep your instance up to date? it is more than one month old

[2022-10-20 20:18] Showfom commented on #222
@unixfox upgrade done.

[2022-10-21 20:47] mcbrown1010 commented on #261
@unixfox Sorry... was having issues with a previous version and had to stick with an older working version... latest version seems to be working and i have mate that version live now :)

[2022-10-25 20:45] MintMain21 opened #296 "Update URL Parameters List."
At least one functional URL Parameter (comments=false) is absent from the official list in the documentation.

This and any other absent but functional Parameters should be added ASAP.

[2022-10-25 20:51] MintMain21 opened #297 "Add instructions for setting up Redirector as a add-on for redirecting Invidious urls."
The Nitter documentation includes a detailed guide on how to configure the Redirector Extension (https://github.com/einaregilsson/Redirector) to act as a makeshift Nitter Redirector (https://github.com/zedeus/nitter/wiki/Extensions#redirector)

I myself have configured Invidious redirections in Redirector for redirecting general links, video links with URL Parameters (with exceptions for when URL

[2022-10-25 20:54] unixfox commented on #296
Feel free to add all the missing parameters by editing this file: https://github.com/iv-org/documentation/blob/master/docs/url-parameters.md

[2022-10-25 20:55] unixfox commented on #297
Feel free to add a new documentation page about Redirector in the directory by creating a new file in .md: https://github.com/iv-org/documentation/tree/master/docs

[2022-10-25 20:56] MintMain21 commented on #296
Edit? How?

[2022-10-25 21:00] unixfox commented on #296
Click on the edit button on the right side or go to this URL: https://github.com/iv-org/documentation/edit/master/docs/url-parameters.md

Then add the missing URL parameters in the table by respecting the markdown style. If you don't know about markdown: https://www.markdowntutorial.com/

[2022-10-25 22:08] MintMain21 commented on #296
![image](https://user-images.githubusercontent.com/91362684/197891469-4693ee2a-ec83-4a33-9fd2-03145c775a16.png)

[2022-10-26 18:44] MintMain21 commented on #297
It is done. Waiting on the pull request now. https://github.com/iv-org/documentation/pull/298

Also, https://github.com/iv-org/documentation/pull/300

[2022-10-26 18:44] MintMain21 commented on #296
I've added Comments to https://github.com/iv-org/documentation/pull/299

Just waiting on the Pull Request to get approved.

Also, others should feel free to add Parameters that remain absent.

[2022-10-27 21:10] GhostSlayer commented on #227
2 month anniversary in a few weeks

[2022-10-27 21:21] unixfox commented on #227
The track of the uptime of your instance has started 14 days ago: https://github.com/iv-org/documentation/issues/227#issuecomment-1278614658
16 days left before we evaluate for potentially adding your instance.

[2022-10-27 21:23] unixfox commented on #272
Closing due to no replies from the author.

[2022-10-27 21:23] #272 closed

[2022-10-28 05:05] GhostSlayer commented on #227
interesting

[2022-10-28 14:35] TheFrenchGhosty commented on #229
Follow up to a Matrix discussion where I was asked what was needed for us to recommend Libredrect officially, here's a list (@SamantazFox @unixfox @Perflyst feel free to add your input):

- Make a page like [invidious.io/team/](http://invidious.io/team/)
- Build the Mozilla releases with CI
- Don't have a single person receive the money
- Figure out who own the project, and mark it as such (in the

[2022-10-28 14:53] TheFrenchGhosty commented on #229
Hygna's replies:

![image](https://user-images.githubusercontent.com/47571719/198659818-2bd115eb-61b6-42b9-9524-3c0f32bbf0ba.png)

![image](https://user-images.githubusercontent.com/47571719/198660279-e841f619-3f8b-4e26-bcc3-9dc0c8dd581a.png)

![image](https://user-images.githubusercontent.com/47571719/198660477-8547823e-dcfd-4409-8ef6-312556d95e83.png)

[2022-10-29 13:03] ManeraKai commented on #229
We are trying to reach as much users as possible. We will stay like this with two repos.

No need for a domain name for a small project like this. Those are just mirrors of each other it's not a problem.

[2022-10-29 13:04] ManeraKai commented on #229
We won't. We already discussed about bibliogram and agreed to keep it for some people that want it.

[2022-10-29 15:14] ManeraKai commented on #229
No need for that.

[2022-10-29 15:16] ManeraKai commented on #229
We have the exact same license as Privacy Redirect and it's already in the repo's files. Nothing else is needed.

[2022-10-29 15:59] TheFrenchGhosty commented on #229
Due to the fact that:

- @ManeraKai obviously don't want to act professional and REFUSES any discussion
- Libredirect has 0 basic security practices (alefvanoon still have the permission to push a release to Mozilla even though he hasn't worked on the project for MONTHS)
- Libredirect has made multiple trademark violation (using the platform logo), and has made multiple GPL violation
- Hygna is ba

[2022-10-29 15:59] #229 closed

[2022-10-29 19:01] comradekingu commented on #67
@TheFrenchGhosty Licensing is copyright, public domain isn't.
The problem isn't on my end. I already hold the copyright. Your problem is some people actually can put stuff in the public domain, and some people can't.

From that inevitable premise of using it for a collaborative work, there are a lot of incompatibilities, and the stuff one could assume to work hasn't been tried in the relevant cour

[2022-10-30 05:30] IronMaltese commented on #229
![image](https://user-images.githubusercontent.com/89056889/198864060-16d9e41b-b694-4bdb-8bf0-547c85137aaf.jpeg)

[2022-10-31 04:30] vojkovic opened #301 "[New instance] https://vid.priv.au"
### URL

https://vid.priv.au

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of Invidious

###

[2022-11-06 09:08] lidarbtc opened #305 "[New instance] https://invidious.lidarshield.cloud"
### URL

https://invidious.lidarshield.cloud

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of

[2022-11-19 00:30] sciclone1984 opened #307 "Missing Hash Key"
Title: `Missing hash key: "videoDetails" (KeyError)`
Date: `2022-11-19T00:14:16Z`
Route: `/watch?v=0twDETh6QaI`
Version: `2022.11.02-09942de @ master`

<details>
<summary>Backtrace</summary>
<p>

[code]
</p>
</details>

[2022-11-21 19:40] GoldDominik893 opened #308 "[New instance] https://invidious.epicsite.xyz"
### URL

https://invidious.epicsite.xyz

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of Invi

[2022-11-23 17:46] marcoapisco opened #310 "[New instance] https://invidious.marcopisco.com"
### URL

https://invidious.marcopisco.com

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of In

[2022-11-23 23:26] GhostSlayer commented on #227
FYI: I have added an tor site for Invidious, so here is an url for it: http://bykwknwkctpms722tmmsdk7gze7eeep3ad7dew26qvysexeoa23hb3qd.onion/

[2022-11-24 23:08] MintMain21 commented on #296
Pull Request has since been approved.

I'll keep this open in the event any more URL Parameters need adding.

[2022-11-25 14:24] unixfox commented on #310
Instance added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/793124133

[2022-11-25 14:25] #307 closed

[2022-11-25 14:26] unixfox commented on #305
Instance added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/793124153

[2022-11-25 14:27] unixfox commented on #301
Instance added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/793124159

[2022-11-25 14:27] unixfox commented on #288
@TheFrenchGhosty please check if it's ok to add the instance or not

[2022-11-25 14:29] unixfox commented on #281
@TheFrenchGhosty please check if it's ok to add the instance or not

[2022-11-25 14:29] unixfox commented on #292
@TheFrenchGhosty please check if it's ok to add the instance or not

[2022-11-25 14:30] unixfox commented on #308
Added on uptime robot: https://stats.uptimerobot.com/89VnzSKAn/793124187

[2022-11-25 17:43] GhostSlayer commented on #227
Since you seem very playful we could hop in and play with some legos, if this is where we are going. Lets play 30 days with legos with no sleep, like for real!

[2022-11-25 17:45] Odyssey346 commented on #227
Why does Slayer have to wait 30 days? If there's a reason for that, why can't you tell the reason *before* you add the label?

[2022-11-25 17:47] GhostSlayer commented on #227
mistake by unixfox thats all for sure

[2022-11-27 06:07] MintMain21 commented on #297
I repeat.

I've noticed two mistakes.

1. In Rule 4, the asterisk in the youtube domain (*.youtube.com) isn't showing.

2. Rule 9 isn't spaced far enough from the hashtag.

Don't know if this was on my end or yours, but it seems too late for me to change it without creating a new branch.

Once these typos are resolved, I'll close the issue.

[2022-11-28 11:05] gordon-shumway-net opened #312 "[New instance] https://iv.melmac.space"
### URL

https://iv.melmac.space

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of Invidious

[2022-11-28 14:40] unixfox commented on #312
Instance added to uptime tracker: https://stats.uptimerobot.com/89VnzSKAn/793141645

[2022-11-28 17:52] GhostSlayer commented on #227
Config is the same as it was before when it was added. Though i added "https_only" as true. and instance restarts every hour as always

[2022-11-28 18:11] unixfox commented on #227
@TheFrenchGhosty can you please recheck? thank you

[2022-11-28 18:20] unixfox commented on #227
@GhostSlayer `external_port` seems to be missing.
In the RSS feeds the URLs are incorrect: https://invidious.drivet.xyz/feed/channel/UCG8rbF3g2AMX70yOd8vqIZg

[2022-11-28 18:26] unixfox commented on #281
@NoaHimesaka1873  Everything is good except that a lot of images are broken when loading the homepage: https://yt.funami.tech/feed/popular
Looking at the logs I see some 503 HTTP errors. Please fix that

[2022-11-28 18:28] #292 closed

[2022-11-28 22:23] NoaHimesaka1873 commented on #281
Okay. I will debug the issue and come back when it's fixed.

[2022-11-29 00:52] NoaHimesaka1873 commented on #281
@unixfox Just fixed the issue.

[2022-11-29 12:49] unixfox commented on #267
@11Tuvork28 your instance is outdated, please update it

[2022-11-29 12:52] unixfox commented on #288
@Silur we removed your instance because it was out of date. please update it and we will add it back

[2022-11-29 12:54] unixfox commented on #190
Removing your instance in https://github.com/iv-org/documentation/commit/c64f56eadadd4423b68cf19734e5cb75ffb968d3 because it was out of date by more than 2 months.

[2022-11-29 13:01] unixfox commented on #245
Noting here that the maintainer failed again to update the instance.

[2022-11-29 13:02] GhostSlayer commented on #227
Fixed :D

[2022-11-29 13:47] unixfox commented on #190
Done https://github.com/iv-org/documentation/commit/2bf9e2bfa46a8b21e76c38742fb397155960ca84, please regularly check if you are up to date.

[2022-11-29 14:56] EsmailELBoBDev2 commented on #190
I run it weekly but it was related to my docker file not the update process. so I think no need to worry about it again. (YET)

[2022-11-29 17:06] #281 closed

[2022-11-30 08:47] MrDrache333 opened #313 "[New instance] https://yt.oelrichsgarcia.de"
### URL

https://yt.oelrichsgarcia.de

### Mandatory checks

- [X] Instance has a domain name
- [X] Instance is served over HTTPS
- [X] Statistics (`/api/v1/stats`) are enabled
- [X] Instance is properly configured (including the mandatory [post install configuration](https://docs.invidious.io/installation/#post-install-configuration))
- [X] Instance has an automatic hourly restart setup of Invidi

[2022-11-30 12:33] unixfox commented on #313
Instance added to uptime robot: https://stats.uptimerobot.com/89VnzSKAn/793158258

[2022-11-30 12:35] #227 closed